body{
  font-size:62%;
}

/* --- Beginning of blurred background --- */
 #mainBackground{
   background: linear-gradient(to top, rgba(0,0,0,0), rgba(255,255,255,0.3) ), url(../images/img_mountains.jpg) no-repeat center center fixed;
}

/* --- featured projects section --- */
#wrap{
  width: 100%;
  height: fit-content;
  margin: 0;
  background-color: blue;
}
/* --- tabbed pictures of featured projects --- */
#tabs{
  width: 100%;
  height: fit-content;
  min-height: 21vw;
  display: block;
  background-color: #aca39a;
  padding-bottom: 2%;
  padding-top: 2%;
}
#tabs li{
  width: 20%;
  display: inline-block;
  margin-right: 0.7%;
  vertical-align: top;
  transition: all;
  transition-duration: 0.5s;
}
#tabs li.active{
  width: 35%;
  transition: all;
  transition-duration: 0.5s;
}
#tabs li.active img{
  transform: none !important;
  cursor: default !important;
}
#tabs li:first-child{
  margin-left: 1%;
}
#tabs li img{
  width: 90% !important;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  transition: all;
  transition-duration: 0.5s;
}
#tabs li img:hover{
  transform: scale(1.1, 1.1);
  transition: all;
  transition-duration: 0.5s;
}
/* --- content of featured projects section --- */
.projectContent{
  display: none;
  width: 100%;
  min-height: 200px;
  background: #aca39a;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-right-radius: 3px;
  padding: 2em;
  height: fit-content;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.projectContent p{
  color: #ffffff;
  font-weight:500;
  font-size: 1.4em;
  margin: 10px;
}
.projectContent.active{
  display: block !important;
}
.col{
  -webkit-columns: 2;
  -moz-columns: 2;
}
.moreProtocols{
  text-align: center;
}

/* --- button of featured projects section --- */
.container-project-btn{
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5%;
}
.project-btn{
  font-size: 2.5vh;
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  background-color: transparent;
  letter-spacing: 0.25vh;
  font-family: AkkuratPro-Regular,sans-serif;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  width: fit-content;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.project-btn:hover{
  color: #2d2d2c;
  background-color: white;
  transform: scale(1.1,1.1);
}
.project-btn i {
  margin-left: 7px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  color: white;
}
.project-btn:hover i {
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  color: #2d2d2c;
}

@media screen and (max-width: 700px){
#tabs li{
  margin-right: unset;
}
#tabs li:first-child{
  margin-left: 2.5%;
}
}
/*

#product_layout_3 .tabular .tabs li:first-child a {
	z-index: 3;
  border-top-left-radius: 3px;
}
#product_layout_3 .tabular .tabs li:nth-child(2) a {
	z-index: 2;
}
#product_layout_3 .tabular .tabs li:last-child a {
	z-index: 1;
  border-top-right-radius: 3px;
}
#product_layout_3 .tabular ul.tabs li a:hover {
	margin: 35px 0 0 0;
	padding: 10px 0 5px 0;
}
#product_layout_3 .tabular ul.tabs li a.active {
	margin: 30px 0 0 0;
	padding: 10px 0 10px 0;
	background: #545f60;
	color: skyblue;
	z-index: 4;
	outline: none;
  border: 1px solid #808080;
}
#product_layout_3 .tabular .group:before,
#product_layout_3 .tabular .group:after {
}
#product_layout_3 .tabular .group:after {
   clear: both;
}
#product_layout_3 .tabular #content {
  width: 100%;
  min-height: 200px;
  background: #545f60;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-right-radius: 3px;
  padding: 2em;
  height: fit-content;
  border: 1px solid #808080;
  margin-bottom: 30px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
#product_layout_3 .tabular #content p{
  color: #ffffff;
  font-weight:500;
  font-size: 1.4em;
  margin: 10px;
}
#product_layout_3 .tabular #content #one .images{
  width:45%;
  float:left;
}
#product_layout_3 .tabular #content #one{
  -webkit-columns: 2;
  -moz-columns: 2;
}
#product_layout_3 .tabular #content #two .author{
  font-size:1.6em;
  font-weight:700;
  color:#FFF;
  display:inline-block;
  margin:10px;
}
#product_layout_3 .tabular #content #two .stars{
  font-size:1.8em;
  color:goldenrod;
  display:inline-block;
  margin:10px;
}
#product_layout_3 .tabular #content #two span.full_review a{
  font-size:1.4em;
  display:block;
  color:skyblue;
  text-align:center;
}
#product_layout_3 .tabular #content #two span.write_review a{
  font-size:1.4em;
  color:skyblue;
  text-align:center;
  display:block;
  margin-top:10px;
}
#product_layout_3 .tabular #content #three .images{
  width:45%;
  float:left;
  display:block;
  margin-right:5%;
  -moz-columns:2;
  -webkit-columns:2;
  height:auto;
}
#product_layout_3 .tabular #content #three .images img{
  width:100px;
  margin-top:20px;
  margin-left:auto;
  margin-right:auto;
  display:block;
}
#product_layout_3 .tabular #content #three .details{
  width:45%;
  float:left;
  margin-left:5%;
  height:auto;
}
@media (max-width:500px){
  #product_layout_3 .tabular ul.tabs {
	width: 100%;
  }
  #product_layout_3 .tabular #content #three{
     height:auto;
    display:block;
  }
  #product_layout_3 .tabular #content #one,
  #product_layout_3 .tabular #content #three .images,
  #product_layout_3 .tabular #content #three .details{
  width:100%;
  float:none;
  -moz-columns:1;
  -webkit-columns:1;
}
}
*/
