body{
  font-size:62%;
}

/* --- Beginning of blurred background --- */
 #mainBackground{
   background: linear-gradient(to top, rgba(0,0,0,0), rgba(255,255,255,0.3) ), url(../images/img_mountains.jpg) no-repeat center center fixed;
}

/* --- featured projects section --- */
#wrap{
  width: 100%;
  height: fit-content;
  margin: 0;
  background-color: #f2f2f2;
}
/* --- tabbed pictures of featured projects --- */
#tabs{
  width: 100%;
  height: fit-content;
  min-height: 25vw;
  display: block;
  background-color: #d6d6d6;
}
#tabs li{
  width: 21%;
  display: inline-block;
  margin-right: 0.2%;
  padding-top: 2%;
  padding-bottom: 2%;
  vertical-align: top;
  transition: all;
  transition-duration: 0.5s;
}
#tabs li.active{
  width: 35%;
  transition: all;
  background-color: #f2f2f2;
  transition-duration: 0.5s;
}
#tabs li.active img{
  transform: none !important;
  cursor: default !important;
}
#tabs li:first-child{
  margin-left: 0.5%;
}
#tabs li:last-child{
  margin-right: 0%;
}
#tabs li img{
  width: 90% !important;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  transition: all;
  transition-duration: 0.5s;
}
#tabs li img:hover{
  transform: scale(1.1, 1.1);
  transition: all;
  transition-duration: 0.5s;
}
/* --- content of featured projects section --- */
.projectContent{
  display: none;
  width: 100%;
  min-height: 200px;
  background: #f2f2f2;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-right-radius: 3px;
  padding: 2em;
  height: fit-content;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.projectContent p{
  color: #2d2d2c;
  font-weight:500;
  font-size: 1.4em;
  margin: 10px;
}
.projectContent.active{
  display: block !important;
}
.col{
  -webkit-columns: 2;
  -moz-columns: 2;
}
.moreProtocols{
  text-align: center;
}

/* --- button of featured projects section --- */
.container-project-btn{
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5%;
}
.project-btn{
  font-size: 2.5vh;
  color: #2d2d2c;
  border: 2px solid #2d2d2c;
  border-radius: 10px;
  background-color: transparent;
  letter-spacing: 0.25vh;
  font-family: AkkuratPro-Regular,sans-serif;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  width: fit-content;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.project-btn:hover{
  color: #f2f2f2;
  background-color: #2d2d2c;
  transform: scale(1.1,1.1);
}
.project-btn i {
  margin-left: 7px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  color: #2d2d2c;
}
.project-btn:hover i {
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  color: #f2f2f2;
}
@media screen and (max-width: 1000px){
  #tabs li{
    margin-right: 0%;
  }
}
@media screen and (max-width: 600px){
#tabs li:first-child{
  margin-left: 2%;
}
#tabs li{
  width: 20%;
  margin-right: 0.2%;
}
.col{
  -moz-columns:1;
  -webkit-columns:1;
}
}
