/* the body influences everything that doesn't have a class or id*/
body {
  background-color: White;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Georgia';
}
h2{
  font-size: 4vh !important;
}

/* --- Beginning of navbar --- */
ul.topnav {
  margin: 0;
  padding: 0;
  background-color:rgba(255,255,255,0.9);
  list-style: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  height: 10%;
  box-shadow: 0 2px 4px 0;
  z-index: 2;
  -webkit-transition: all 0.4s ease;
transition: all 0.4s ease;
}
ul.topnav img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 90%;
}
ul.topnav.transparent{
  background-color:rgba(0,0,0,0) !important;
  box-shadow: 0 0 0 0;
}
ul.topnav.active{
  background-color:rgba(0,0,0,0) !important;
  box-shadow: 0 0 0 0;
}
#logoHolder{
  float: left;
  padding: unset;
  margin-left: 5%;
margin-top: 2%;
margin-bottom: 2%;
  opacity: 1;
  transition-delay: initial;
  transition-timing-function: cubic-bezier(0.06, 0.24, 0.44, 1);
  transition-duration: 0.5s;
  transition-property: all;
}
#logoHolder.active{
  opacity: 0.5;
  transition-delay: initial;
  transition-timing-function: cubic-bezier(0.06, 0.24, 0.44, 1);
  transition-duration: 0.5s;
  transition-property: all;
}
#logo{
width: 16.625em;
}
#logo a:hover{
  background-color: transparent;
}

/* beginning of sideNav*/
#menuoverlay{
  right: 0;
  z-index: 10000;
  width: 0em;
  opacity: 1;
  text-align: left;
  transition: all 1s;
  position: fixed;
  top: 0;
  height: 100%;
  pointer-events: auto;
  background-color: white;
  text-decoration: none;
  transition-delay: initial;
  transition-timing-function: cubic-bezier(0.06, 0.24, 0.44, 1);
  transition-duration: 0.5s;
  transition-property: all;
  /* box-shadow: inset 10px 0px 10px 0px #000; */
}
#menuoverlay.active{
  width: 50vh;
  transition-delay: initial;
  transition-timing-function: cubic-bezier(0.06, 0.24, 0.44, 1);
  transition-duration: 0.5s;
  transition-property: all;
}
@media screen and (max-width: 600px){
  #menuoverlay.active{
    width: 20em;
  }
  #bioGARRAGE-logo img{
    90%;
  }
  #logoHolder.active{
    opacity: 0;
  }
  #bioGARRAGE-logo a{
    transition-duration: 0.5s;
  }
}
#overlay {
    position: fixed;
    height: 100%;
    width: 0%;
    opacity: 0;
    top: 0;
    right: 21.250em;
    left: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.5);
    z-index: 2;
    transition-delay: initial;
    transition-timing-function: cubic-bezier(0.06, 0.24, 0.44, 1);
    transition-duration: 0.5s;
    transition-property: all;
}
#overlay.active{
  opacity: 1;
  width: 100%;
  transition-delay: initial;
  transition-timing-function: cubic-bezier(0.06, 0.24, 0.44, 1);
  transition-duration: 0.5s;
  transition-property: all;
}
.blurContainer{
  width: auto;
  height: auto;
transition-duration: 1s;
}
.blurContainer.active{
  filter: blur(5px);
-webkit-filter: blur(5px);
-moz-filter: blur(5px);
-o-filter: blur(5px);
-ms-filter: blur(5px);
transition-delay: initial;
transition-timing-function: cubic-bezier(0.06, 0.24, 0.44, 1);
transition-duration: 1s;
transition-property: all;
}
#mainmenu{
  position: relative;
  width: 90%;
  right:0;
  left: 5%;
  top:0px;
  color: black;
  list-style: none;
}
#bioGARRAGE-logo a{
  position: absolute;
  bottom: 5%;
  width: 100%;
  text-align: center;
  z-index: 100000;
}
#bioGARRAGE-logo img{
  width: 80%;
}
/* --- end of sideNav --- */
/* --- Beginning of navbar for mobile --- */
ul.topnav li.dropdown{
  visibility: hidden;
  display: none;
  overflow: hidden;
}
#sitemenu-icon{
  position: absolute;
  top: 50%;
  right: 0em;
  transform: translate(-50%, -50%);
  width: 5%;
  height: 75%;
  cursor: pointer;
  background: transparent;
  transition-delay: initial;
  transition-timing-function: cubic-bezier(0.06, 0.24, 0.44, 1);
  transition-duration: 0.5s;
  transition-property: all;
  z-index: 3;
}
#sitemenu{
  width: 6vh;
  height: 10%;
  background: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 5px rgba(0,0,0,.2);
  transition: 0.5s;
}
#sitemenu:before, #sitemenu:after{
  content:'';
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  position: absolute;
  box-shadow: 0 2px 5px rgba(0,0,0,.2);
  transition: 0.5s;
}
#sitemenu:before{
  top: -250%;
}
#sitemenu:after{
  top: 250%;
}
#sitemenu-icon.active{
  right: 50vh;
  transition-delay: initial;
  transition-timing-function: cubic-bezier(0.06, 0.24, 0.44, 1);
  transition-duration: 0.5s;
  transition-property: all;
}
#sitemenu-icon.active #sitemenu{
  background: rgba(0,0,0,0);
  box-shadow: 0 2px 5px rgba(0,0,0,0);
}
#sitemenu-icon.active #sitemenu:before{
  top: 0;
transform: rotate(45deg);
}
#sitemenu-icon.active #sitemenu:after{
  top: 0;
transform: rotate(135deg);
}
@media screen and (max-width: 600px){
#sitemenu-icon{ width: 3.5em; }
  #sitemenu-icon.active{ right: 19em; }
}

.sideNavMenuItems{
  display: block;
  padding: 3% 3%;
  background-color: transparent;
  color: black;
  text-decoration: none;
  font-weight: 400;
  text-transform: uppercase;
  font-family: sans-serif;
      letter-spacing: 0.3vw;
      font-size: 2.5vh;
}
.sideNavMenuItems:hover{
  background-color: #efefef;
  color: #828282;
}
#iconsAdded a::before{
  padding-right: 10px;
font-family: "FontAwesome";
}
#menu-link-1::before {
    content: "\f015";
}
#menu-link-2::before {
    content: "\f2b9";
}
#menu-link-3::before {
    content: "\f0e0";
}
#menu-link-4::before {
    content: "\f0c0";
}
#menu-link-5::before {
    content: "\f187";
}
/* --- End of navbar for mobile --- */
/* --- End of navbar --- */

/* begining of front page */
header{
      height: -webkit-fill-available;
}
@-webkit-keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInLeft {
  0%{opacity: 0;}
  25%{opacity: 0;}
  50%{opacity: 0;}
  75% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
    opacity: 1;

  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);

  }
}

.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
  animation-duration: 3s;
  color: white;
  opacity: 1;
position: absolute;
font-size: 3vh;
text-align: center;
width: 100%;
margin-top: 12em;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  0%{
    opacity: 0;
  }
  20%{
    opacity: 0;
  }
  40%{
    opacity: 0;
  }
  60%{
    opacity: 0;
  }
  80% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  animation-duration: 6s;
  color: white;
  opacity: 1;
position: absolute;
font-size: 2.5vh;
text-align: center;
width: 100%;
margin-top: 19em;
}


figure {
background-image: url("../images/microscope.jpg");
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: cover;
  padding-bottom: 90vh;
  padding-top: 10vh;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0 0 !important;
}


/* ending of front page */




/* --- beginning about content section --- */
#about{
    padding-bottom: 8vh;
  background-color: white;
  font-size: 2.2vh;
      padding-top: 6em;
  font-family: 'Georgia';
  line-height: 200%;
  background: #eeeeee;
  /* background: linear-gradient(217deg, rgba(255,255,0,.8), rgba(255,255,0,0) 50.71%),
            linear-gradient(127deg, rgba(0,255,255,.8), rgba(0,255,255,0) 40.71%),
            linear-gradient(336deg, rgba(255,0,255,.8), rgba(255,0,255,0) 55.71%);
*/
}

/* --- beginning of seperator photo --- */
.trans{
  background-color: black;
}
.transPhoto{
  padding: 25vh;
  background-image: url("../images/garageMech.png");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  z-index: 1;
  opacity: 0.5;
  background-position: center;
}
@media only screen and (max-device-width: 900px) {
    .transPhoto {
        background-attachment: scroll;
        background-position: center;
    }
  }
  /* --- end of seperator photo --- */

.oddColor{
  background-color: white !important;
}
#aboutContent{
  text-align: center;
  height: fit-content;
  padding-bottom: 6em;
  margin: 4vh;

}
#opening{
  text-align: center;
  z-index: 10;
}
#aboutContent h1{
  text-align: center;
  text-indent: 0px;
}
#about h2{
  -webkit-margin-before: 0;
padding-top: 0.83em;
}
.row {
    font-family: arial, sans-serif;
    width: 100%;
    display: inline-flex;
    text-align: center;
}
.column {
    text-align: left;
    width: inherit;
    overflow-y: scroll;
    height: 60vh;
}
.accordionSection{
  text-align: left;
  background: white;
  height: fit-content;
  padding-bottom: 4.4em;
}
#questionsContent img{
  overflow: hidden;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 60vh;
}
#questionsContent h2{
  text-align: center;
}
#questionsContent p{
      font-size: 2vh;
  text-indent: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 1em;
  line-height: 200%;
}
@media screen and (max-width: 700px){
.row{
  display: block;
}
.column {
    height: inherit;
}
#questionsContent img{
  height: 50%;
}
}

/* --- expand/retract about section --- */
#expandable{
  background: #EEE;
  width: 100%;
  margin: 0px auto;
  padding: 0px 0;
  height: -webkit-fill-available;
}
#expandable h2, h3 {
  text-align: center;
}
#expandable input {
  display: none;
  visibility: hidden;
}
#expandable label {
  display: block;
  padding: 0.5em;
  text-align: center;
  border-bottom: 1px solid #CCC;
  color: #666;
}
#expandable label:hover {
  color: #000;
}
#expandable label::before {
  font-family: Consolas, monaco, monospace;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.2;
  content: "+";
  vertical-align: text-top;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 3px;
  background: radial-gradient(ellipse at center, #CCC 50%, transparent 50%);
}
#expand1, #expand2{
  height: 0px;
  overflow: hidden;
  transition: height 0.5s;
  background: #1d1d1d;;
  color: #FFF;
}
section {
  padding: 0 20px;
}
#toggle1:checked ~ #expand1, #toggle2:checked ~ #expand2 {
  height: 50em;
}
#toggle1:checked ~ label::before, #toggle2:checked ~ label::before {
  content: "-";
}
/* --- end of expand/retract about section css --- */

/* --- accordion css --- */
button.accordion {
    background-color: white
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 2vh;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

button.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2212";
}

div.panel {
    padding: 0 18px;
    background-color: #eee;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
/* --- end of accordion css --- */

.moreButton{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.moreButtonContent{
  display: inline-block;
  font-size: 14px;
  border: 2px solid black;
  background-color: transparent;
  letter-spacing: .175em;
  font-family: AkkuratPro-Regular,sans-serif;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  width: unset;
}
.moreButtonContent:hover{
  background-color: black;
  color: white;
  transform: scale(1.1,1.1);
  transition-duration: 0.3s;
}
.lessButtonContent{
  display: none;
  font-size: 2vh;
  border: 2px solid black;
  background-color: transparent;
  letter-spacing: .175em;
  font-family: AkkuratPro-Regular,sans-serif;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  width: unset;
}
.lessButtonContent:hover{
  background-color: black;
  color: white;
  transform: scale(1.1,1.1);
  transition-duration: 0.3s;
}
.show{
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-delay: 0.4s;
  transition-timing-function: ease-out;
  max-height: fit-content;
  height: 100%;
}
.hide{
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-delay: 0.4s;
  transition-timing-function: ease-out;
  height: 40%;
}
.StayInTouch{
  text-align: center;
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

.StayInTouch p{
  text-indent: unset !important;
}
.contactButtonContent{
  font-size: 2.5vh;
  color: black;
  border: 2px solid black;
  background-color: transparent;
  letter-spacing: .375em;
  font-family: AkkuratPro-Regular,sans-serif;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  width: unset;
}
.contactButtonContent:hover{
  background-color: black;
  color: white;
  transform: scale(1.2,1.2);
  transition-duration: 0.3s;
}
/* --- end of about section --- */


/* --- beginning of footer --- */
.footer{
  background-color: #000;
  margin: 0;
  color: #6c6c6c;
  font-size: 2vh;
  padding-top: 5%;
  padding-bottom: 2%;
  /* height: 30%; */
}
#bioGARAGE-section .fa{
  text-align: center;
  font-size: 2.5vh;
  padding: 5px 5px;
}
.footerContent{
  text-align: center;
  overflow: auto;
  line-height: 200%;
}
#UOttawa-section{
  width: 60%;
  float: left;
}
#bioGARAGE-section{
  float: right;
  width: 32%;
  text-align: right;
  padding-right:50px;
}
#UO-logo{
  float: left;
  padding-left: 50px;
}
#faculyAndRelated{
  float: left;
  width: 40%;
  text-align: left;
  margin-left: 20px;
}
#faculyAndRelated a{
  text-decoration: none;
    color: #6c6c6c;
  cursor: pointer;
}
#faculyAndRelated p{
  display: unset;
}
#faculyAndRelated a:hover{
  color: white;
  transition-duration: 0.4s;
  cursor: pointer;
}
.fa-facebook{color: #4e64b5; }
.fa-linkedin{color: #0288d1; }
.fa-twitter{color: #00aced; }
.fa-instagram{color: #9a8f62; }
.fa-pinterest{color: #ff5757; }
.fa-youtube-play{color: #c82929; }
.fa-github{color: #4a2881; }

@media screen and (max-width: 650px){
  .footerContent{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: fit-content;
  }
  .footer{
    height: auto;
  }
  #UO-logo{
    padding-left: 0;
    float: none;
  }
  #bioGARAGE-section{
    float: none;
    text-align: center;
    padding-right: 0;
    padding-left: 0px;
    width: 100%;
  }
  #faculyAndRelated{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0;
    text-align: center;
  }
  #UOttawa-section{  width: 100%; }
  }
.fa:hover{
  color: white;
  transform: scale(1.1,1.1);
  transition-duration: 0.4s;
}
.legal, .terms{
  text-decoration: none;
  color: #6c6c6c;
}
.legal:hover, .terms:hover{
  color: white;
  transform: scale(1.1,1.1);
  transition-duration: 0.4s;
}
/* --- end of footer --- */
/* --- end of webpage --- */
