/* the body influences everything that doesn't have a class or id*/
body {
  background-color: White;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
h2{
  font-size: 4vh !important;
}
/*
a.customisable-highlight{
  color: #8f001a !important;
}
*/

/* --- Beginning of navbar --- */
ul.topnav {
  margin: 0;
  padding: 0;
  background-color:rgba(255,255,255,0.9);
  list-style: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  height: 10%;
  box-shadow: 0 2px 4px 0;
  z-index: 2;
  -webkit-transition: all 0.4s ease;
transition: all 0.4s ease;
}
ul.topnav img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 84%;
}
#logoHolder::before{
  content: '\25CF';
      font-size: 21vh;
background-color: transparent;
position: absolute;
margin-left: -2.05vh;
margin-top: -13.8vh;
color: #000000;
z-index: -1;
}
ul.topnav.transparent{
  background-color:rgba(0,0,0,0) !important;
  box-shadow: 0 0 0 0;
}
ul.topnav.active{
  background-color:rgba(0,0,0,0) !important;
  box-shadow: 0 0 0 0;
}
#logoHolder{
  float: left;
  padding: unset;
  margin-left: 2.2vh;
margin-top:0.8vh;
margin-bottom: 0.8vh;
  opacity: 1;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
}
#logo{
width: 16.625em;
}
#logo a:hover{
  background-color: transparent;
}

/* beginning of sideNav*/
#menuoverlay{
  right: 0;
  z-index: 10000;
  width: 50vh;
  transform: translateX(50vh);
  opacity: 1;
  text-align: left;
  position: fixed;
  top: 0;
  height: 100%;
  pointer-events: auto;
  background-color: white;
  text-decoration: none;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
  /* box-shadow: inset 10px 0px 10px 0px #000; */
}
#menuoverlay.active{
  transform: translateX(0vh);
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
}
@media screen and (max-width: 650px){
  #menuoverlay.active{ width: 75vw;}
  #sitemenu-icon{ width: 3.5em !important; right: 5% !important;}
  #sitemenu-icon.active{ right: 80vw !important;}
  #bioGARRAGE-logo img{  width: 90% !important;}
  #logoHolder.active{ opacity: 0 !important;}
  #bioGARRAGE-logo a{ transition-duration: 0.5s;}
}
#overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    opacity: 0;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.5);
    z-index: -1;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s;
}
#overlay.active{
  opacity: 1;
  z-index: 2;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.blurContainer{
  width: auto;
  height: auto;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.blurContainer.active{
  filter: blur(3px);
-webkit-filter: blur(3px);
-moz-filter: blur(3px);
-o-filter: blur(3px);
-ms-filter: blur(3px);
-o-transition: all 1s;
-webkit-transition: all 1s;
transition: all 1s;
}
#mainmenu{
  position: relative;
  width: 90%;
  right:0;
  left: 5%;
  top:0px;
  color: black;
  list-style: none;
}
#bioGARRAGE-logo a{
  position: absolute;
  bottom: 5%;
  width: 100%;
  text-align: center;
  z-index: 100000;
}
#bioGARRAGE-logo img{
  width: 75%;
}
/* --- end of sideNav --- */
/* --- Beginning of navbar for mobile --- */
ul.topnav li.dropdown{
  visibility: hidden;
  display: none;
  overflow: hidden;
}
#sitemenu-icon{
  position: absolute;
  top: 50%;
  right: 0em;
  transform: translate(-50%, -50%);
  width: 5%;
  height: 75%;
  cursor: pointer;
  background: transparent;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
  z-index: 3;
}
#sitemenu{
  width: 6vh;
  height: 10%;
  background: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 5px rgba(0,0,0,.2);
  transition: 0.5s;
}
#sitemenu:before, #sitemenu:after{
  content:'';
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  position: absolute;
  box-shadow: 0 2px 5px rgba(0,0,0,.2);
  transition: 0.5s;
}
#sitemenu:before{
  top: -250%;
}
#sitemenu:after{
  top: 250%;
}
#sitemenu-icon.active{
  right: 50vh;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
}
#sitemenu-icon.active #sitemenu{
  background: rgba(0,0,0,0);
  box-shadow: 0 2px 5px rgba(0,0,0,0);
}
#sitemenu-icon.active #sitemenu:before{
  top: 0;
transform: rotate(45deg);
}
#sitemenu-icon.active #sitemenu:after{
  top: 0;
transform: rotate(135deg);
}
.sideNavMenuItems{
  display: block;
  padding: 3% 3%;
  background-color: transparent;
  color: black;
  text-decoration: none;
  font-weight: 400;
  text-transform: uppercase;
  font-family: sans-serif;
      letter-spacing: 0.3vw;
      font-size: 2.5vh;
}
.sideNavMenuItems:hover, .selectedPage{
  background-color: #4c4c4c;
  color: #e2e2e2;
}
#iconsAdded a::before{
  padding-right: 10px;
font-family: "FontAwesome";
}
#menu-link-1::before {
    content: "\f015";
}
#menu-link-2::before {
    content: "\f2b9";
}
#menu-link-3::before {
    content: "\f0e0";
}
#menu-link-4::before {
    content: "\f0c0";
}
#menu-link-5::before {
    content: "\f187";
}
/* --- End of navbar for mobile --- */
/* --- End of navbar --- */


/* --- Beginning of blurred background --- */
 #mainBackground{
   background: linear-gradient(to top, rgba(0,0,0,0), rgba(255,255,255,0.6) ), url(../images/img_mountains.jpg) no-repeat center center fixed;
  padding: 15vh;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
 position: relative; background-attachment: fixed;
 overflow: hidden;
 }
 #mainBackground > header {
   bottom: 0;
   left: 0;
   width: 100%;
   padding: 20px 10px;
   background: inherit;
   background-attachment: fixed;
   overflow: hidden;
 }
#mainBackground > header::before {
 content: "";
 position: absolute;
 top: -20px;
 left: 0;
 width: 200%;
 height: 200%;
 background: inherit;
 background-attachment: fixed;
 -webkit-filter: blur(4px);
 filter: blur(4px);
}
#mainBackground > header::after {
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background: rgba(0, 0, 0, 0.25)
}
#mainBackground > header > p {
  margin: 0;
  color: white;
  position: relative;
  z-index: 1;
}
#contact-title {
    font-size: 8vh;
    z-index: 4;
    letter-spacing: 2px;
    color: #444444;
    text-align: center;
}
@media screen and (max-width: 600px){
#mainBackground{ padding-left: 0 !important; padding-right: 0 !important;}
#contact-title{ font-size: 5vh; }
}
/* --- end of blurred background --- */

/*CONTACT*/
/*---------------------------------------------*/
#contactDetails a {
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
	color: #57b846;
}

/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input::-webkit-input-placeholder { color: #999999; }
input:-moz-placeholder { color: #999999; }
input::-moz-placeholder { color: #999999; }
input:-ms-input-placeholder { color: #999999; }

textarea::-webkit-input-placeholder { color: #999999; }
textarea:-moz-placeholder { color: #999999; }
textarea::-moz-placeholder { color: #999999; }
textarea:-ms-input-placeholder { color: #999999; }

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}
button:hover {
	cursor: pointer;
}
/*//////////////////////////////////////////////////////////////////
[ Contact 1 ]*/

.contact1 {
  width: 100%;
  min-height: 100%;
  padding: 15px;

  background: #009bff;
  background: -webkit-linear-gradient(left, #0072ff, #00c6ff);
  background: -o-linear-gradient(left, #0072ff, #00c6ff);
  background: -moz-linear-gradient(left, #0072ff, #00c6ff);
  background: linear-gradient(left, #0072ff, #00c6ff);

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container-contact1 {
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  height: 70vh;
  justify-content: space-between;
  align-items: center;
  padding: 5% 5% 5% 5%;
}

/*------------------------------------------------------------------
[  ]*/
.contact1-form {
  width: 50%;
}

#twitter-feed{
  margin-left: auto;
  width: 45%;
  position: relative;
}

.contact1-form-title {
  display: block;
  font-size: 24px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 44px;
}
input.input1 {
  height: 7vh;
  border-radius: 0px;
  padding: 0 4vh;
}
input.input1 + .shadow-input1 {
  border-radius: 0px;
}

textarea.input1 {
  min-height: 150px;
  border-radius: 0px;
  padding: 12px 30px;
}
textarea.input1 + .shadow-input1 {
  border-radius: 0px;
}

/*---------------------------------------------*/
.wrap-input1 {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 3vh;
}
#firstInput{
  margin-top: 15vh;
}
.input1 {
  display: block;
  width: 100%;
  background: #e6e6e6;
  font-family: Montserrat-Bold;
  font-size: 1.9vh;
  line-height: 1.5;
  color: #666666;
}

.shadow-input1 {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: #8f001a;
  opacity: 0.5;
}

.input1:focus + .shadow-input1 {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 80px 30px;
    opacity: 0;
  }
}

@keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 80px 30px;
    opacity: 0;
  }
}

/*---------------------------------------------*/
.container-contact1-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact1-form-btn{
  font-size: 2.5vh;
  color: #8f001a;
  border: 2px solid #8f001a;
  border-radius: 10px;
  background-color: transparent;
  letter-spacing: 0.25vh;
  font-family: AkkuratPro-Regular,sans-serif;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  width: fit-content;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.contact1-form-btn:hover{
  color: white;
  background-color: #8f001a;
  transform: scale(1.1,1.1);
 }

.contact1-form-btn i {
  margin-left: 7px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact1-form-btn:hover i {
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -o-transform: translateX(10px);
  transform: translateX(10px);
}

/*------------------------------------------------------------------
[ Responsive ]*/
@media (max-width: 900px) {
  .contact1-form {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  #twitter-feed{
    margin-right: auto;
    width: 80%;
  }
  .container-contact1{
    height: fit-content;
  }
}

#map{
  height: 17em;
  width: 100%;
}
/* make sure to secure it to bioGARAGE website when done *** */


/* --- beginning of footer --- */
.footer{
  background-color: #000;
  margin: 0;
  color: #6c6c6c;
  font-size: 1.5vh;
  padding-top: 5%;
  padding-bottom: 2%;
}
#bioGARAGE-section .fa{
  text-align: center;
  font-size: 2.5vh;
  padding: 0.5vh 0.6vh;
}
.footerContent{
  text-align: center;
  overflow: auto;
  line-height: 200%;
}
#UOttawa-section{
  width: 50%;
  float: left;
}
#bioGARAGE-section{
  float: right;
  width: 35%;
  text-align: center;
  padding-right: 7vh;
}
#UO-logo{
  float: left;
  padding-left: 7vh;
}
#UO-logo img{
  height: 14vh;
}
#faculyAndRelated{
  float: left;
  width: 40%;
  text-align: left;
  margin-left: 20px;
}
#faculyAndRelated a{
  text-decoration: none;
    color: #6c6c6c;
  cursor: pointer;
}
#faculyAndRelated p{
  display: unset;
}
#faculyAndRelated a:hover{
  color: white;
  transition-duration: 0.4s;
  cursor: pointer;
}
.fa-facebook{color: #4e64b5; }
.fa-linkedin{color: #0288d1; }
.fa-twitter{color: #00aced; }
.fa-instagram{color: #9a8f62; }
.fa-pinterest{color: #ff5757; }
.fa-youtube-play{color: #c82929; }
.fa-github{color: #4a2881; }

@media screen and (max-width: 630px){
  .footerContent{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: fit-content;
  }
  .footer{
    height: auto;
  }
  #UO-logo{
    padding-left: 0;
    float: none;
  }
  #bioGARAGE-section{
    float: none;
    text-align: center;
    padding-right: 0;
    padding-left: 0px;
    width: 100%;
  }
  #faculyAndRelated{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0;
    text-align: center;
  }
  #UOttawa-section{  width: 100%; }
  }
.fa:hover{
  color: white;
  transform: scale(1.1,1.1);
  transition-duration: 0.4s;
}
.legal, .terms{
  text-decoration: none;
  color: #6c6c6c;
}
.legal:hover, .terms:hover{
  color: white;
  transform: scale(1.1,1.1);
  transition-duration: 0.4s;
}
/* --- end of footer --- */
/* --- end of webpage --- */
