/* the body influences everything that doesn't have a class or id*/
body {
  background-color: White;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Verdana;
}

/* --- Beginning of navbar --- */
ul.topnav {
  margin: 0;
  padding: 0;
  background-color:rgba(255,255,255,0.9);
  list-style: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  box-shadow: 0 2px 4px 0;
  z-index: 2;
  -webkit-transition: all 0.4s ease;
transition: all 0.4s ease;
}
ul.topnav img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
ul.topnav.transparent{
  background-color:rgba(0,0,0,0) !important;
  box-shadow: 0 0 0 0;
}
#logoHolder{
  float: left;
  padding: unset;
  margin-left: 10px;
  margin-top: 6px;
  margin-bottom: 6px;
}
#logo{
width: 266px;
}
#logo a:hover{
  background-color: transparent;
}
/* beginning of sideNav*/
#menuoverlay{
  right: 0;
  z-index: 10000;
  opacity: 1;
  text-align: left;
  transition: all 1s;
  position: fixed;
  top: 0;
  height: 100%;
  pointer-events: auto;
  background-color: white;
  /* #5D5D5D */
  text-decoration: none;
  outline-left: 10px black solid;
}
#overlay {
    position: fixed;
    height: 100%;
    top: 0;
    right: 340px;
    left: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.5);
    z-index: 2;
    cursor: pointer;
}
.blurContainerUnset{
  width: auto;
  height: auto;
  transition-delay: 0.5s;
}
.blurContainerSet{
  filter: blur(5px);
-webkit-filter: blur(5px);
-moz-filter: blur(5px);
-o-filter: blur(5px);
-ms-filter: blur(5px);
transition-delay: initial;
transition-timing-function: cubic-bezier(0.06, 0.24, 0.44, 1);
transition-duration: 0.5s;
transition-property: all;
}
#mainmenu{
  position: relative;
  width: 300px;
  right:0;
  left: 20px;
  top:0px;
  color: black;
  list-style: none;
}
#bioGARRAGE-logo a{
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  z-index: 100000;
}
#bioGARRAGE-logo a:hover{
  transform: scale(1.1,1.1);
  transition-duration: 0.3s;
}
#sideNavExit p{
  color: #777777;
  width: 25px;
  font-size: 25px;
  text-align: center;
  display: block;
  margin-right: auto;
  margin-left: 20px;
  margin-top: 20px;
}
#sideNavExit p:hover{
  cursor: pointer;
  color: black;
  transform: scale(1.2,1.2);
  transition-duration: 0.3s;
}
.showSideNav{
  display: block;
  width: 0px;
  transition-delay: initial;
  transition-timing-function: cubic-bezier(0.06, 0.24, 0.44, 1);
  transition-duration: 0.5s;
  transition-property: all;
}
/* --- end of sideNav --- */
/* --- Beginning of navbar for mobile --- */
ul.topnav li.dropdown{
  visibility: hidden;
  display: none;
  overflow: hidden;
}
#sitemenu-icon{
  display: flex;
  cursor: pointer;
  width: 36px;
  height: 30px;
  background-color: transparent;
  position: fixed;
  top: 25px;
  right: 40px;
  z-index: 10000;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
#sitemenu-icon span{
  height: 4px;
  width: 100%;
  background-color: black;
  position: absolute;
}
#sitemenu-icon span.line1{
  top: 3px;
  width: 36px;
}
#sitemenu-icon span.line2{
  top: 13px;
  width: 36px;
}
#sitemenu-icon span.line3{
  top: 23px;
  width: 36px;
}
@media screen and (max-width: 900px){
  ul.topnav{
    height: 80px;;
    text-align: center;
    position: fixed;
  }
}
.sideNavMenuItems{
  display: block;
  padding: 10px 10px;
  background-color: transparent;
  color: black;
  text-decoration: none;
  font-weight: 400;
  text-transform: uppercase;
  font-family: sans-serif;
  letter-spacing: 3px;;
}
.sideNavMenuItems:hover{
  background-color: #efefef;
  color: #05BAFF;
}
  #mainmenu li.dropdown{
    visibility: visible;
    display: inline-block;
    background-color: transparent;
  }
  #mainmenu li a, .dropbtn {
    display: inline-block;
    text-align: left;
    text-decoration: none;
    float: none;
  }
  #mainmenu li a:hover, .dropdown:hover .dropbtn {
    color: #777777;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }
  #mainmenu li.dropdown { display: inline-block; }

  #mainmenu .dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 160px;
    position: fixed;
  }
  #mainmenu .dropdown-content a {
    padding: 6px 12px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  #mainmenu .dropdown-content a:hover, #mainmenu .dropdown-content a:active {
    background-color: transparent;
    color: #777777;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }
  #mainmenu .dropdown:hover .dropdown-content, #mainmenu .dropdown:active .dropdown-content{
    display: block;
    transition-delay: initial;
    transition-timing-function: cubic-bezier(0.06, 0.24, 0.44, 1);
    transition-duration: 200ms;
    transition-property: all;
  }
/* --- End of navbar for mobile --- */
/* --- End of navbar --- */

/* begining of front page */

/* begining of slideshow */
.mySlides{
  display: none;
}
.FrontPage{
  padding-top: 100px;
  padding-left: 0%;
  padding-right: 0%;
  padding-bottom: 5%;
  background-attachment: fixed;
}
.FrontPageContent{
  /* max-width: 1000px; */
  margin: auto;
  outline-color: gold;
  outline-width: 10px;
  background-color: black;
}
.FrontPageSection{
  margin-top: 16px;!important
  margin-bottom: 16px;!important
}
img.FrontPageContent{
  vertical-align: middle;
  border-style: none;
}
li.crop{
  list-style:none;
}
.crop{
  height: 60%;
  width: 100%;
  overflow: hidden;
}
.crop img{
  height: auto;
  width: 100%;
}
@media screen and (max-width: 900px){
  .crop{
    height: 50%;
  }
}
@media screen and (max-width: 809px){
  .FrontPage{
    padding-top: 150px;
  }
}
@media screen and (max-width: 780px){
  .crop{
    height: 45%;
  }
}
@media screen and (max-width: 670px){
  .crop{
    height: 40%;
  }
}
@media screen and (max-width: 570px){
  .crop{
    height: 30%;
  }
  .FrontPage{
    padding-top: 150px;
  }
}
@media screen and (max-width: 400px){
  .crop{
    height: 23%;
  }
}
/* end of slideshow */
/* ending of front page */


/* --- beginning about content section --- */
#about{
  padding-bottom: 200px;
  padding-top: 20px;
  background: linear-gradient(217deg, rgba(255,255,0,.8), rgba(255,255,0,0) 50.71%),
            linear-gradient(127deg, rgba(0,255,255,.8), rgba(0,255,255,0) 40.71%),
            linear-gradient(336deg, rgba(255,0,255,.8), rgba(255,0,255,0) 55.71%);
}
#aboutContent{
  text-align: center;
  margin: 20px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}
#questionsContent img{

  overflow: hidden;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#questionsContent h2{
  text-align: center;
}
#questionsContent p{
  text-indent: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.moreButton{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.moreButtonContent{
  display: inline-block;
  font-size: 14px;
  border: 2px solid black;
  background-color: transparent;
  letter-spacing: .175em;
  font-family: AkkuratPro-Regular,sans-serif;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  width: unset;
}
.moreButtonContent:hover{
  background-color: black;
  color: white;
  transform: scale(1.1,1.1);
  transition-duration: 0.3s;
}
.lessButtonContent{
  display: none;
  font-size: 14px;
  border: 2px solid black;
  background-color: transparent;
  letter-spacing: .175em;
  font-family: AkkuratPro-Regular,sans-serif;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  width: unset;
}
.lessButtonContent:hover{
  background-color: black;
  color: white;
  transform: scale(1.1,1.1);
  transition-duration: 0.3s;
}
.show{
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-delay: 0.4s;
  transition-timing-function: ease-out;
  height: 400px;
}
.hide{
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-delay: 0.4s;
  transition-timing-function: ease-out;
  height: 200px;
}
td {
    border: 1px solid transparent;
    text-align: left;
    /* padding: 8px; */
    overflow-y: scroll;
}
.StayInTouch{
  text-align: center;
}
.StayInTouch p{
  text-indent: unset;
}
.contactButtonContent{
  font-size: 18px;
  color: black;
  border: 2px solid black;
  background-color: transparent;
  letter-spacing: .375em;
  font-family: AkkuratPro-Regular,sans-serif;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  width: unset;
}
.contactButtonContent:hover{
  background-color: black;
  color: white;
  transform: scale(1.2,1.2);
  transition-duration: 0.3s;
}
/* --- end of about section --- */

/* --- beginning of seperator photo --- */
td.transPhoto{
  display: block;
  padding: 0;
}
.transPhoto{
  padding: 125px;
  background-image: url("../images/garageMech.png");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  z-index: 1;
  opacity: 0.5;
  background-position: center;
}
@media only screen and (max-device-width: 900px) {
    .transPhoto {
        background-attachment: scroll;
        background-position: center;
    }
  }
  /* --- end of seperator photo --- */


/* --- beginning of footer --- */
.footer{
  background-color: #000;
  margin: 0;
  color: #777777;
  font-size: 14px;
  padding-top: 50px;
  padding-bottom: 20px;
}
.lin{
  text-align: center;
  color: #777777;
  font-size: 20px;
  padding: 5px 5px;
}
.footerContent{
  text-align: center;
  overflow: auto;
  line-height: 200%;
}
#UOttawa-section{
  width: 60%;
  float: left;
}
#bioGARAGE-section{
  float: right;
  width: 30%;
  text-align: right;
  padding-right:50px;
}
#UO-logo{
  float: left;
  padding-left: 50px;
}
#faculyAndRelated{
  float: left;
  width: 40%;
  text-align: left;
  margin-left: 20px;
}
#faculyAndRelated a{
  text-decoration: none;
  color: #777777;
  cursor: pointer;
}
#faculyAndRelated p{
  display: unset;
}
#faculyAndRelated p:hover{
  color: white;
  transition-duration: 0.4s;
  cursor: pointer;
}
.fa-facebook{color: #4e64b5; }
.fa-linkedin{color: #0288d1; }
.fa-twitter{color: #00aced; }
.fa-instagram{color: #9a8f62; }
.fa-pinterest{color: #ff5757; }
.fa-youtube-play{color: #c82929; }
.fa-github{color: #4a2881; }

@media screen and (max-width: 630px){
  .footerContent{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: fit-content;
  }
  #UO-logo{
    padding-left: 0;
    float: none;
  }
  #bioGARAGE-section{
    float: none;
    text-align: center;
    padding-right: 0;
    padding-left: 0px;
    width: 100%;
  }
  #faculyAndRelated{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0;
    text-align: center;
  }
  #UOttawa-section{
    width: 100%;
  }
  }

.fa:hover{
  color: white;
  transform: scale(1.1,1.1);
  transition-duration: 0.4s;
}
.legal, .terms{
  text-decoration: none;
  color: #777777;
}
.legal:hover, .terms:hover{
  color: white;
  transform: scale(1.1,1.1);
  transition-duration: 0.4s;
}
/* --- end of footer --- */
/* --- end of webpage --- */
