/* the body influences everything that doesn't have a class or id*/
body {
  background-color: White;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Verdana;
}

/* --- Beginning of navbar --- */
ul.topnav {
  margin: 0;
  padding: 0;
  background-color:rgba(255,255,255,0.9);
  list-style: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  box-shadow: 0 2px 4px 0;
  z-index: 2;
  -webkit-transition: all 0.4s ease;
transition: all 0.4s ease;
}
ul.topnav img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
ul.topnav.transparent{
  background-color:rgba(0,0,0,0) !important;
  box-shadow: 0 0 0 0;
}
#logoHolder{
  float: left;
  padding: unset;
  margin-left: 10px;
  margin-top: 6px;
  margin-bottom: 6px;
}
#logo{
width: 266px;
}
#logo a:hover{
  background-color: transparent;
}
/* beginning of sideNav*/
#menuoverlay{
  right: 0;
  z-index: 10000;
  opacity: 1;
  text-align: left;
  transition: all 1s;
  position: fixed;
  top: 0;
  height: 100%;
  pointer-events: auto;
  background-color: white;
  /* #5D5D5D */
  text-decoration: none;
  outline-left: 10px black solid;
}
#overlay {
    position: fixed;
    height: 100%;
    top: 0;
    right: 340px;
    left: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.5);
    z-index: 2;
    cursor: pointer;
}
.blurContainerUnset{
  width: auto;
  height: auto;
  transition-delay: 0.5s;
}
.blurContainerSet{
  filter: blur(5px);
-webkit-filter: blur(5px);
-moz-filter: blur(5px);
-o-filter: blur(5px);
-ms-filter: blur(5px);
transition-delay: initial;
transition-timing-function: cubic-bezier(0.06, 0.24, 0.44, 1);
transition-duration: 0.5s;
transition-property: all;
}
#mainmenu{
  position: relative;
  width: 300px;
  right:0;
  left: 20px;
  top:0px;
  color: black;
  list-style: none;
}
#bioGARRAGE-logo a{
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  z-index: 100000;
}
#bioGARRAGE-logo a:hover{
  transform: scale(1.1,1.1);
  transition-duration: 0.3s;
}
#sideNavExit p{
  color: #777777;
  width: 25px;
  font-size: 25px;
  text-align: center;
  display: block;
  margin-right: auto;
  margin-left: 20px;
  margin-top: 20px;
}
#sideNavExit p:hover{
  cursor: pointer;
  color: black;
  transform: scale(1.2,1.2);
  transition-duration: 0.3s;
}
.showSideNav{
  display: block;
  width: 0px;
  transition-delay: initial;
  transition-timing-function: cubic-bezier(0.06, 0.24, 0.44, 1);
  transition-duration: 0.5s;
  transition-property: all;
}
/* --- end of sideNav --- */
/* --- Beginning of navbar for mobile --- */
ul.topnav li.dropdown{
  visibility: hidden;
  display: none;
  overflow: hidden;
}
#sitemenu-icon{
  display: flex;
  cursor: pointer;
  width: 36px;
  height: 30px;
  background-color: transparent;
  position: fixed;
  top: 25px;
  right: 40px;
  z-index: 10000;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
#sitemenu-icon span{
  height: 4px;
  width: 100%;
  background-color: black;
  position: absolute;
}
#sitemenu-icon span.line1{
  top: 3px;
  width: 36px;
}
#sitemenu-icon span.line2{
  top: 13px;
  width: 36px;
}
#sitemenu-icon span.line3{
  top: 23px;
  width: 36px;
}
@media screen and (max-width: 900px){
  ul.topnav{
    height: 80px;;
    text-align: center;
    position: fixed;
  }
}
.sideNavMenuItems{
  display: block;
  padding: 10px 10px;
  background-color: transparent;
  color: black;
  text-decoration: none;
  font-weight: 400;
  text-transform: uppercase;
  font-family: sans-serif;
  letter-spacing: 3px;;
}
.sideNavMenuItems:hover{
  background-color: #efefef;
  color: #05BAFF;
}
  #mainmenu li.dropdown{
    visibility: visible;
    display: inline-block;
    background-color: transparent;
  }
  #mainmenu li a, .dropbtn {
    display: inline-block;
    text-align: left;
    text-decoration: none;
    float: none;
  }
  #mainmenu li a:hover, .dropdown:hover .dropbtn {
    color: #777777;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }
  #mainmenu li.dropdown { display: inline-block; }

  #mainmenu .dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 160px;
    position: fixed;
  }
  #mainmenu .dropdown-content a {
    padding: 6px 12px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  #mainmenu .dropdown-content a:hover, #mainmenu .dropdown-content a:active {
    background-color: transparent;
    color: #777777;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }
  #mainmenu .dropdown:hover .dropdown-content, #mainmenu .dropdown:active .dropdown-content{
    display: block;
    transition-delay: initial;
    transition-timing-function: cubic-bezier(0.06, 0.24, 0.44, 1);
    transition-duration: 200ms;
    transition-property: all;
  }
/* --- End of navbar for mobile --- */
/* --- End of navbar --- */

/* beginning of news tab
.newsTab{
  padding-bottom: 50px;
  color: white;
}
.newsTabContent{
  overflow-y: scroll;
  margin: 0;
  text-align: center;
  vertical-align: middle;
  outline-style: solid;
  outline-color: black;
  outline-width: thin;
  background-color: #2c5575;
  padding-bottom: 70px;
}
 end of news tab */

/*CONTACT*/
#contactDetails {
    height: auto;
    position: relative;
    margin-top: 60px;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
}
#contactDetailsContent {
    position: relative;
    justify-content: center;
    display: flex;
    z-index: 2;
    margin-top: 5%;
    overflow: hidden;
}
#contact-info {
    width: 40%;
    z-index: 3;
    text-align: left;
    position: relative;
}
#contact-form {
    width: 60%;
    z-index: 3;
    text-align: left;
    display: block;
    margin-right: 5%;
}
#contact-form-content{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
input{
  margin-bottom: 40px;
}

@media(max-width:900px){
  #contactDetailsContent{
    display:block;
  }
  #contact-info{
    width: 80%;
    margin-left: 10px;
    text-align: center;
  }
  #contact-form{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  input{
    margin-bottom: 40px;
    float: none;
    width: 100%;
  }
}

#contact-top{
    width: 100%;
    text-align: center;
    padding-top: 1em;
}
#contact-title {
    font-size: 4em;
    z-index: 4;
    letter-spacing: 2px;
    color: #444444;
    text-align: center;
}
.contact-stuff {
    font-size: 1em;
    z-index: 4;
    margin-left: 18%;
    font-weight: bold;
    padding: 1.5% 0;
}
.contact-stuff a {
    color: #444444;
    cursor: pointer;
    font-weight: bold;
    transition-duration: 0.3s;
}
.contact-stuff a:hover {
    text-decoration: none;
    color: #FFC80A;
    transition-duration: 0.3s;
}
.contactLabel {
    font-size: 1em;
    letter-spacing: 5px;
    color: #a6a6a6;
    z-index: 4;
    margin-left: 18%;
}
#name-elements {
    width: 50%;
    float: left;
}
#email-elements {
    width: 50%;
    float: right;
}
#message-elements {
    margin-top: 10%;
}
.filled {
    border-color: #FFC80A;
    transition-duration: 0.5s;
}
.notfilled {
    border-color: #ccc;
    transition-duration: 0.5s;
}
#contact-name-box {
    background-color: transparent;
    color: black;
    padding: 0.25em 0.35em;
    outline: none;
    outline-style: none;
    border-width: 0 0 2px 0;
    width: 95%;
    float: left;
    transition-duration: 0.5s;
    font-family: montserrat;
    box-sizing: border-box;
}
#contact-email-box {
    background-color: transparent;
    color: black;
    padding: 0.25em 0.35em;
    outline: none;
    outline-style: none;
    border-width: 0 0 2px 0;
    float: right;
    width: 95%;
    box-sizing: border-box;
    transition-duration: 0.5s;
    font-family: montserrat;
}
::-webkit-input-placeholder {
    font-family: montserrat;
}
#contact-message-box {
    background-color: transparent;
    color: black;
    padding: 0.25em 0.45em;
    outline: none;
    outline-style: none;
    border-width: 2px;
    width: 100%;
    resize: none;
    transition-duration: 0.5s;
    font-family: montserrat;
    box-sizing: border-box;
}
#contact-name-box:focus, #contact-email-box:focus {
    border-color: #FFC80A;
    transition-duration: 0.5s;
}
#contact-message-box:focus {
    border-color: #FFC80A;
    transition-duration: 0.5s;
}
#bottom-button {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}
#contact-button {
    background-color: transparent;
    border-radius: 10px;
    padding: 10px 60px;
    border: 3px solid #FFC80A;
    color: #444444;
    margin: 5% 0;
    transition-duration: 0.2s;
    outline: none;
    font-family: montserrat;
    font-weight: bold;
    letter-spacing: 4px;
    font-size: 1em;
}
#contact-button:hover {
    background-color: #FFC80A;
    transition-duration: 0.2s;
    border: 3px solid #FFC80A;
    cursor: pointer;
    transform: scale(1.2,1.2);
    transition-duration: 0.3s;
}
#map{
  height: 17em;
  width: 100%;
}
/* make sure to secure it to bioGARAGE website when done *** */


/* --- beginning of footer --- */
.footer{
  background-color: #000;
  margin: 0;
  color: #777777;
  font-size: 14px;
  padding-top: 50px;
  padding-bottom: 20px;
}
.lin{
  text-align: center;
  color: #777777;
  font-size: 20px;
  padding: 5px 5px;
}
.footerContent{
  text-align: center;
  overflow: auto;
  line-height: 200%;
}
#UOttawa-section{
  width: 60%;
  float: left;
}
#bioGARAGE-section{
  float: right;
  width: 30%;
  text-align: right;
  padding-right:50px;
}
#UO-logo{
  float: left;
  padding-left: 50px;
}
#faculyAndRelated{
  float: left;
  width: 40%;
  text-align: left;
  margin-left: 20px;
}
#faculyAndRelated a{
  text-decoration: none;
  color: #777777;
  cursor: pointer;
}
#faculyAndRelated p{
  display: unset;
}
#faculyAndRelated p:hover{
  color: white;
  transition-duration: 0.4s;
  cursor: pointer;
}
.fa-facebook{color: #4e64b5; }
.fa-linkedin{color: #0288d1; }
.fa-twitter{color: #00aced; }
.fa-instagram{color: #9a8f62; }
.fa-pinterest{color: #ff5757; }
.fa-youtube-play{color: #c82929; }
.fa-github{color: #4a2881; }

@media screen and (max-width: 630px){
  .footerContent{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: fit-content;
  }
  #UO-logo{
    padding-left: 0;
    float: none;
  }
  #bioGARAGE-section{
    float: none;
    text-align: center;
    padding-right: 0;
    padding-left: 0px;
    width: 100%;
  }
  #faculyAndRelated{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0;
    text-align: center;
  }
  #UOttawa-section{
    width: 100%;
  }
  }

.fa:hover{
  color: white;
  transform: scale(1.1,1.1);
  transition-duration: 0.4s;
}
.legal, .terms{
  text-decoration: none;
  color: #777777;
}
.legal:hover, .terms:hover{
  color: white;
  transform: scale(1.1,1.1);
  transition-duration: 0.4s;
}
/* --- end of footer --- */
/* --- end of webpage --- */
