/* the body influences everything that doesn't have a class or id */
/* --- beginning of webpage --- */
body {
  background-color: white;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Verdana;
}

/* --- Beginning of navbar --- */
ul.topnav {
  margin: 0;
  padding: 0;
  background-color:rgba(255,255,255,0.9);
  list-style: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  box-shadow: 0 2px 4px 0;
  z-index: 2;
  -webkit-transition: all 0.4s ease;
transition: all 0.4s ease;
}
ul.topnav img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
ul.topnav.transparent{
  background-color:rgba(0,0,0,0) !important;
  box-shadow: 0 0 0 0;
}
#logoHolder{
  float: left;
  padding: unset;
  margin-left: 10px;
  margin-top: 6px;
  margin-bottom: 6px;
}
#logo{
width: 266px;
}
#logo a:hover{
  background-color: transparent;
}
/*
ul.topnav li a{
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 1.0625em;
  line-height: 10px;
  width: 125px;
  z-index: 1;
}
*/

/* beginning of sideNav*/
#menuoverlay{
  right: 0;
  z-index: 10000;
  opacity: 1;
  text-align: left;
  transition: all 1s;
  position: fixed;
  top: 0;
  height: 100%;
  pointer-events: auto;
  background-color: #5D5D5D;
  text-decoration: none;
}
#overlay {
    position: fixed;
    height: 100%;
    top: 0;
    right: 340px;
    left: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.9);
    z-index: 2;
    cursor: pointer;
}
#mainmenu{
  position: relative;
  width: 300px;
  right:0;
  left: 20px;
  top:0px;
  color: white;
  list-style: none;
}
#bioGARRAGE-logo a{
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  z-index: 100000;
}
#bioGARRAGE-logo a:hover{
  transform: scale(1.1,1.1);
  transition-duration: 0.3s;
}
#sideNavExit p{
  color: #777777;
  width: 25px;
  font-size: 25px;
  text-align: center;
  display: block;
  margin-right: auto;
  margin-left: 20px;
  margin-top: 20px;
}
#sideNavExit p:hover{
  cursor: pointer;
  color: white;
  transform: scale(1.2,1.2);
  transition-duration: 0.3s;
}
.showSideNav{
  display: block;
  width: 0px;
  transition-delay: initial;
  transition-timing-function: cubic-bezier(0.06, 0.24, 0.44, 1);
  transition-duration: 0.5s;
  transition-property: all;
}
/* --- end of sideNav --- */
/* --- Beginning of navbar for mobile --- */
ul.topnav li.dropdown{
  visibility: hidden;
  display: none;
  overflow: hidden;
}
#sitemenu-icon{
  display: flex;
  cursor: pointer;
  width: 36px;
  height: 30px;
  background-color: transparent;
  position: fixed;
  top: 25px;
  right: 40px;
  z-index: 10000;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
#sitemenu-icon span{
  height: 4px;
  width: 100%;
  background-color: black;
  position: absolute;
}
#sitemenu-icon span.line1{
  top: 3px;
  width: 36px;
}
#sitemenu-icon span.line2{
  top: 13px;
  width: 36px;
}
#sitemenu-icon span.line3{
  top: 23px;
  width: 36px;
}
@media screen and (max-width: 900px){
  ul.topnav{
    height: 80px;;
    text-align: center;
    position: fixed;
  }
}
.sideNavMenuItems{
  display: block;
  padding: 10px 10px;
  background-color: transparent;
  color: white;
  text-decoration: none;
  font-weight: 400;
  text-transform: uppercase;
  font-family: sans-serif;
  letter-spacing: 3px;;
}
.sideNavMenuItems:hover{
  background-color: #808080;
  color: #05BAFF;
}

  #mainmenu li.dropdown{
    visibility: visible;
    display: inline-block;
    background-color: transparent;
  }
  #mainmenu li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: left;
    text-decoration: none;
    float: none;
  }
  #mainmenu li a:hover, .dropdown:hover .dropbtn {
    color: #777777;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }
  #mainmenu li.dropdown { display: inline-block; }

  #mainmenu .dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 160px;
    position: fixed;
  }
  #mainmenu .dropdown-content a {
    color: white;
    padding: 6px 12px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  #mainmenu .dropdown-content a:hover, #mainmenu .dropdown-content a:active {
    background-color: transparent;
    color: #777777;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }
  #mainmenu .dropdown:hover .dropdown-content, #mainmenu .dropdown:active .dropdown-content{
    display: block;
    transition-delay: initial;
    transition-timing-function: cubic-bezier(0.06, 0.24, 0.44, 1);
    transition-duration: 200ms;
    transition-property: all;
  }
/* --- End of navbar for mobile --- */
/* --- End of navbar --- */


/* begining of front page */
/* ---- particles front page section---- */
canvas {
  display: block;
  vertical-align: bottom;
} /* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #b61924;
  background-image: url("http://i.dailymail.co.uk/i/pix/2015/10/13/09/2D55A60A00000578-0-image-a-2_1444725976530.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

figure{
/*  background-image: url("http://i.dailymail.co.uk/i/pix/2015/10/13/09/2D55A60A00000578-0-image-a-2_1444725976530.jpg"); */
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  padding-bottom: 400px;
  padding-top: 400px;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0 0 !important;
}

/* --- keyframes --- */
@keyframes fade {
  0%  {opacity: 0;}
  100% {opacity: 1;}
}
.fade{
  animation-name: fade;
  animation-duration: 3s;
  animation-timing-function: ease-out;
}
figure:nth-child(2) { background-image: url("../images/garageMech.png"); }

figure:nth-child(3) {
  background-image: url("../images/jellyfish.jpg");
}
figure:nth-child(4) {
  background-image: url("../images/microscope.jpg");
}
/* --- animation buttons --- */
#lightButtonsContent{
  width: min-content;
  margin-top: 10%;
  position: absolute;
}
.lightChanger{
  padding: 20px 20px;
  background-color: red;
  cursor: pointer;
  border-radius: 30px;
  border-color: black;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 30px;
  box-shadow: 0 9px #999;
  animation-direction: reverse;
}
.lightChanger:hover{
  background-color: #962a2a;
}
.lightChanger:active{
  background-color: #962a2a;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.pressed{
  background-color: #962a2a;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
/* --- end of front page --- */
/* --- opening content section --- */
.opening{
  padding: 20px;
  background-color: black;
  opacity: 0.85;
  bottom: 0;
  position: relative;
  padding-bottom: 30px;
}
.openingContent{
  background-color: inherit;
  color: white;
  list-style: none;
  letter-spacing: 2px;
  font-size: 20px;
  line-height: 200%;
  width: fit-content;
  margin: auto;
}
.open1{ }
.open2{
  padding-left: 30px;
}
.open3{
  padding-left: 60px;
}
.open4{
  padding-left: 90px;
}
.openingButtons{
text-align: center;
word-spacing: 50px;
}
@media screen and (max-width: 1200px){
  .openingButtons{ padding-top: 40px; }
}
.openBtn1{
  font-size: 18px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
  background-color: transparent;
  letter-spacing: .375em;
  font-family: AkkuratPro-Regular,sans-serif;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  width: 230px;
}
.openBtn2{
  font-size: 18px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
  background-color: transparent;
  letter-spacing: .375em;
  font-family: AkkuratPro-Regular,sans-serif;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  width: 230px;
}
.openBtn1:hover{
  color: black;
  background-color: white;
  transform: scale(1.2,1.2);
  transition-duration: 0.3s;
 }
.openBtn2:hover{
  color: black;
  background-color: white;
  transform: scale(1.2,1.2);
  transition-duration: 0.3s;
   }

@media screen and (max-width: 700px){
  .openingContent{
    font-size: 16px;
    letter-spacing: 1.5;
    text-align: center;
  }
  .open2{
    padding-left: 0px;
  }
  .open3{
    padding-left: 0px;
  }
  .open4{
    padding-left: 0px;
  }
}
/* --- end of opening content section --- */


/* --- beginning of seperator photo --- */
.transPhoto{
  padding: 125px;
  margin-top: 200px;
  margin-bottom: 200px;
  background-image: url("../images/garageMech.png");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  z-index: 1;
  opacity: 0.5;
  background-position: center;
}
@media only screen and (max-device-width: 900px) {
    .transPhoto {
        background-attachment: scroll;
        background-position: center;
    }
    figure{
      background: url("http://i.dailymail.co.uk/i/pix/2015/10/13/09/2D55A60A00000578-0-image-a-2_1444725976530.jpg") no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      height: 100%;
      overflow: hidden;
    }
}
/* --- end of seperator photo --- */


/* --- beginning of footer --- */
.footer{
  background-color: #000;
  margin: 0;
  color: #777777;
  font-size: 14px;
  padding-top: 50px;
  padding-bottom: 20px;
}
.lin{
  text-align: center;
  color: #777777;
  font-size: 20px;
  padding: 5px 5px;
}
.footerContent{
  text-align: center;
  overflow: auto;
  line-height: 200%;
}
#UOttawa-section{
  width: 60%;
  float: left;
}
#bioGARAGE-section{
  float: right;
  width: 40%;
  text-align: right;
  padding-right:50px;
}
#UO-logo{
  float: left;
  padding-left: 50px;
}
#faculyAndRelated{
  float: left;
  width: 40%;
  text-align: left;
  margin-left: 20px;
}
#faculyAndRelated a{
  text-decoration: none;
  cursor: pointer;
}
#faculyAndRelated p{
  display: unset;
}
#faculyAndRelated p:hover{
  color: white;
  transition-duration: 0.3s;
  cursor: pointer;
}
.fa-facebook{color: #4e64b5; }
.fa-linkedin{color: #0288d1; }
.fa-twitter{color: #00aced; }
.fa-instagram{color: #9a8f62; }
.fa-pinterest{color: #ff5757; }
.fa-youtube-play{color: #c82929; }
.fa-github{color: #4a2881; }

@media screen and (max-width: 630px){
  #bioGARAGE-section{
    float: none;
    text-align: left;
    padding-right: 0;
    padding-left: 50px;
    width: 100%;
  }
  #faculyAndRelated{
    width: 100%;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #UOttawa-section{
    width: 100%;
  }
  }

.fa:hover{
  color: white;
  transform: scale(1.1,1.1);
  transition-duration: 0.3s;
}
.legal, .terms{
  text-decoration: none;
  color: #777777;
}
.legal:hover, .terms:hover{
  color: white;
  transform: scale(1.1,1.1);
  transition-duration: 0.3s;
}
/* --- end of footer --- */
/* --- end of webpage --- */
