/* the body influences everything that doesn't have a class or id */
/* --- beginning of webpage --- */
body {
  background-color: white;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Georgia';
  opacity: 1;
  /* Verdana; */
}
h2{
  font-size: 4vh !important;
}
.preload{
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition-duration: 0s !important;
  opacity: 0;
}

/* --- Beginning of navbar --- */
ul.topnav {
  margin: 0;
  padding: 0;
  background-color:rgba(255,255,255,0.9);
  list-style: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  height: 10%;
  box-shadow: 0 2px 4px 0;
  z-index: 2;
  -webkit-transition: all 0.4s ease;
transition: all 0.4s ease;
}
ul.topnav img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 90%;
}
ul.topnav.transparent{
  background-color:rgba(0,0,0,0) !important;
  box-shadow: 0 0 0 0;
}
ul.topnav.active{
  background-color:rgba(0,0,0,0) !important;
  box-shadow: 0 0 0 0;
}
#logoHolder{
  float: left;
  padding: unset;
  margin-left: 5%;
margin-top: 2%;
margin-bottom: 2%;
  opacity: 1;
  transition-delay: initial;
  transition-timing-function: cubic-bezier(0.06, 0.24, 0.44, 1);
  transition-duration: 0.5s;
  transition-property: all;
}
#logoHolder.active{
  opacity: 0.5;
  transition-delay: initial;
  transition-timing-function: cubic-bezier(0.06, 0.24, 0.44, 1);
  transition-duration: 0.5s;
  transition-property: all;
}
#logo{
width: 16.625em;
}
#logo a:hover{
  background-color: transparent;
}

/* beginning of sideNav*/
#menuoverlay{
  right: 0;
  z-index: 10000;
  width: 0em;
  opacity: 1;
  text-align: left;
  transition: all 1s;
  position: fixed;
  top: 0;
  height: 100%;
  pointer-events: auto;
  background-color: white;
  text-decoration: none;
  transition-delay: initial;
  transition-timing-function: cubic-bezier(0.06, 0.24, 0.44, 1);
  transition-duration: 0.5s;
  transition-property: all;
  /* box-shadow: inset 10px 0px 10px 0px #000; */
}
#menuoverlay.active{
  width: 50vh;
  transition-delay: initial;
  transition-timing-function: cubic-bezier(0.06, 0.24, 0.44, 1);
  transition-duration: 0.5s;
  transition-property: all;
}
@media screen and (max-width: 600px){
  #menuoverlay.active{
    width: 20em;
  }
  #bioGARRAGE-logo img{
    90%;
  }
  #logoHolder.active{
    opacity: 0;
  }
  #bioGARRAGE-logo a{
    transition-duration: 0.5s;
  }
}
#overlay {
    position: fixed;
    height: 100%;
    width: 0%;
    opacity: 0;
    top: 0;
    right: 21.250em;
    left: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.5);
    z-index: 2;
    transition-delay: initial;
    transition-timing-function: cubic-bezier(0.06, 0.24, 0.44, 1);
    transition-duration: 0.5s;
    transition-property: all;
}
#overlay.active{
  opacity: 1;
  width: 100%;
  transition-delay: initial;
  transition-timing-function: cubic-bezier(0.06, 0.24, 0.44, 1);
  transition-duration: 0.5s;
  transition-property: all;
}
.blurContainer{
  width: auto;
  height: auto;
transition-duration: 1s;
}
.blurContainer.active{
  filter: blur(5px);
-webkit-filter: blur(5px);
-moz-filter: blur(5px);
-o-filter: blur(5px);
-ms-filter: blur(5px);
transition-delay: initial;
transition-timing-function: cubic-bezier(0.06, 0.24, 0.44, 1);
transition-duration: 1s;
transition-property: all;
}
#mainmenu{
  position: relative;
  width: 90%;
  right:0;
  left: 5%;
  top:0px;
  color: black;
  list-style: none;
}
#bioGARRAGE-logo a{
  position: absolute;
  bottom: 5%;
  width: 100%;
  text-align: center;
  z-index: 100000;
}
#bioGARRAGE-logo img{
  width: 80%;
}
/* --- end of sideNav --- */
/* --- Beginning of navbar for mobile --- */
ul.topnav li.dropdown{
  visibility: hidden;
  display: none;
  overflow: hidden;
}
#sitemenu-icon{
  position: absolute;
  top: 50%;
  right: 0em;
  transform: translate(-50%, -50%);
  width: 5%;
  height: 75%;
  cursor: pointer;
  background: transparent;
  transition-delay: initial;
  transition-timing-function: cubic-bezier(0.06, 0.24, 0.44, 1);
  transition-duration: 0.5s;
  transition-property: all;
  z-index: 3;
}
#sitemenu{
  width: 6vh;
  height: 10%;
  background: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 5px rgba(0,0,0,.2);
  transition: 0.5s;
}
#sitemenu:before, #sitemenu:after{
  content:'';
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  position: absolute;
  box-shadow: 0 2px 5px rgba(0,0,0,.2);
  transition: 0.5s;
}
#sitemenu:before{
  top: -250%;
}
#sitemenu:after{
  top: 250%;
}
#sitemenu-icon.active{
  right: 50vh;
  transition-delay: initial;
  transition-timing-function: cubic-bezier(0.06, 0.24, 0.44, 1);
  transition-duration: 0.5s;
  transition-property: all;
}
#sitemenu-icon.active #sitemenu{
  background: rgba(0,0,0,0);
  box-shadow: 0 2px 5px rgba(0,0,0,0);
}
#sitemenu-icon.active #sitemenu:before{
  top: 0;
transform: rotate(45deg);
}
#sitemenu-icon.active #sitemenu:after{
  top: 0;
transform: rotate(135deg);
}
@media screen and (max-width: 600px){
#sitemenu-icon{ width: 3.5em; }
  #sitemenu-icon.active{ right: 19em; }
}

.sideNavMenuItems{
  display: block;
  padding: 3% 3%;
  background-color: transparent;
  color: black;
  text-decoration: none;
  font-weight: 400;
  text-transform: uppercase;
  font-family: sans-serif;
      letter-spacing: 0.3vw;
      font-size: 2.5vh;
}
.sideNavMenuItems:hover{
  background-color: #efefef;
  color: #828282;
}
#iconsAdded a::before{
  padding-right: 10px;
font-family: "FontAwesome";
}
#menu-link-1::before {
    content: "\f015";
}
#menu-link-2::before {
    content: "\f2b9";
}
#menu-link-3::before {
    content: "\f0e0";
}
#menu-link-4::before {
    content: "\f0c0";
}
#menu-link-5::before {
    content: "\f187";
}
/* --- End of navbar for mobile --- */
/* --- End of navbar --- */


/* begining of front page */

/* ---- animation backgrounds ---- */
figure{
/*  background-image: url("http://i.dailymail.co.uk/i/pix/2015/10/13/09/2D55A60A00000578-0-image-a-2_1444725976530.jpg"); */
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: cover;
  padding-top: 100vh;
  padding-bottom: 0%;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0 0 !important;
}

/* --- keyframes --- */
@keyframes flash {
    0%, 50%, 100% {
       opacity: 1;
    }
    25%, 75% {
       opacity: 0;
    }
 }

.flash{
  animation-name: flash;
  -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
            /*
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
            */
}

figure:nth-child(1) { background-image: url("../images/garageMech.png"); }
figure:nth-child(2) { background-image: url("../images/jellyfish.jpg"); }
figure:nth-child(3) { background-image: url("../images/microscope.jpg"); }

@media only screen and (max-width: 700px) {
  figure:nth-child(1) { background-image: url("../images/garageMech.png"); }
  figure:nth-child(2) { background-image: url("../images/jellyfish.jpg"); }
  figure:nth-child(3) { background-image: url("../images/microscope.jpg"); }
}

.badge {
  height:1.250em;
  width:1.250em;
  padding:0;
  border-radius:0.625em;
  cursor:pointer;
}
.w3-left, .w3-right{
  cursor:pointer;
  font-size: 3.125em;
}
.w3-tag,.badge{
  background-color: unset;
  color: #fff;
  display: inline-block;
  text-align: center;
}
.buttonBorder{
  border: 1px solid white;
}
.normColor1{
  background-color: white;
}
.normColor2{
  background-color: white;
}
.normColor3{
  background-color: white;
}
#transparentHomeButtons{
  background-color: transparent;
}
/* --- animation buttons --- */
#lightButtonsContent{
  width: min-content;
  margin-top: 10%;
  position: absolute;
}

/* --- end of front page --- */
/* --- opening content section --- */
#openFeatured{
  background-color: #c3c3c3;
  padding-bottom: 2em;
}
#openFeatured h2{
padding-bottom: 5%;
text-align: center;
}
.opening{
  padding: 1.250em;
  background-color: black;
  opacity: 0.85;
  bottom: 0;
  position: relative;
  padding-bottom: 20%;
  -webkit-clip-path: polygon(0 0,100% 0vw,100% 90%,0 calc(100% - 20vw));
  clip-path: polygon(0 0,100% 0vw,100% 90%,0 calc(100% - 20vw));
}
.openingContent{
  background-color: inherit;
  color: white;
  list-style: none;
  letter-spacing: 0.125em;
  font-size: 2.5vh;
  line-height: 200%;
  width: 90%;
  margin: auto;
}
.open1{ margin-left: 15%; }
.open2{ margin-left: 25%; }
.open3{ margin-left: 35%; }
.open4{ margin-left: 45%; }

.openingButtons{
text-align: center;
word-spacing: 50px;
padding-top: 2.500em;
}
.openBtn1{
  font-size: 2.5vh;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
  background-color: transparent;
  letter-spacing: .375em;
  font-family: AkkuratPro-Regular,sans-serif;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  width: fit-content;
}
.openBtn1:hover{
  color: black;
  background-color: white;
  transform: scale(1.2,1.2);
  transition-duration: 0.3s;
 }
 @media screen and (max-width: 700px){
  .openingContent{
    letter-spacing: 1.5;
    text-align: center;
  }
  .open1{
    margin-left: 0;
  }
  .open2{
    margin-left: 0;
  }
  .open3{
    margin-left: 0;
  }
  .open4{
    margin-left: 0;
  }
}

.row > .column {
  padding: 0.5em 0.5em;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.column {
  float: left;
  width: 25%;
  position: relative;
text-align: center;
color: white;
}
@media screen and (max-width: 1000px){
  .column{
    width: 50%;
    padding: 0.2em 0.2em;
    float: left;
  }
}


/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}
/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}
/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
  z-index: 100000;
}
.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}
.mySlides {
  display: none;
}
.cursor {
  cursor: pointer;
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev{
  left: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
img {
  margin-bottom: -4px;
}
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}
.demo2 {
  opacity: 0.6;
}
.active,
.demo2:hover {
  opacity: 1;
}
img.hover-shadow {
  transition: 0.3s;
}
.hover-shadow:hover {
/*  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  opacity: 0.5;
  transition-duration: 0.5s;
}
i.fa-camera{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition-duration: 0.5s;
}

/* --- end of opening content section --- */


/* ---- particles filler section---- */
canvas {
  display: block;
  vertical-align: bottom;
  cursor: url(../images/bioLogo_avatar_cursor.png) 16 16, auto;
} /* ---- particles.js container ---- */
#particles-js {
  width: 100%;
  height: 30%;
  background: linear-gradient(135deg, #777777, white 75%, #4e64b5, #0288d1, #00aced, orange, #ff5757, #c82929,#4a2881);
  background-size: cover;
  background-position: 50% 50%;
}

/* --- beginning of footer --- */
.footer{
  background-color: #000;
  margin: 0;
  color: #6c6c6c;
  font-size: 1em;
  padding-top: 5%;
  padding-bottom: 2%;
  /* height: 30%; */
}
#bioGARAGE-section .fa{
  text-align: center;
  font-size: 2.5vh;
  padding: 5px 5px;
}
.footerContent{
  text-align: center;
  overflow: auto;
  line-height: 200%;
}
#UOttawa-section{
  width: 60%;
  float: left;
}
#bioGARAGE-section{
  float: right;
  width: 40%;
  text-align: right;
  padding-right:50px;
}
#UO-logo{
  float: left;
  padding-left: 50px;
}
#faculyAndRelated{
  float: left;
  width: 40%;
  text-align: left;
  margin-left: 20px;
}
#faculyAndRelated a{
  text-decoration: none;
  cursor: pointer;
}
#faculyAndRelated p{
  display: unset;
}
#faculyAndRelated p:hover{
  color: white;
  transition-duration: 0.4s;
  cursor: pointer;
}
.fa-facebook{color: #4e64b5; }
.fa-linkedin{color: #0288d1; }
.fa-twitter{color: #00aced; }
.fa-instagram{color: #9a8f62; }
.fa-pinterest{color: #ff5757; }
.fa-youtube-play{color: #c82929; }
.fa-github{color: #4a2881; }

@media screen and (max-width: 630px){
  .footerContent{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: fit-content;
  }
  .footer{
    height: auto;
  }
  #UO-logo{
    padding-left: 0;
    float: none;
  }
  #bioGARAGE-section{
    float: none;
    text-align: center;
    padding-right: 0;
    padding-left: 0px;
    width: 100%;
  }
  #faculyAndRelated{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0;
    text-align: center;
  }
  #UOttawa-section{  width: 100%; }
  }
.fa:hover{
  color: white;
  transform: scale(1.1,1.1);
  transition-duration: 0.4s;
}
.legal, .terms{
  text-decoration: none;
  color: #6c6c6c;
}
.legal:hover, .terms:hover{
  color: white;
  transform: scale(1.1,1.1);
  transition-duration: 0.4s;
}
/* --- end of footer --- */
/* --- end of webpage --- */
