/* the body influences everything that doesn't have a class or id*/
body {
  background-color: White;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
h2{
  font-size: 4vh !important;
}

/* --- Beginning of navbar --- */
ul.topnav {
  margin: 0;
  padding: 0;
  background-color:rgba(255,255,255,0.9);
  list-style: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  height: 10%;
  box-shadow: 0 2px 4px 0;
  z-index: 2;
  -webkit-transition: all 0.4s ease;
transition: all 0.4s ease;
}
ul.topnav img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 84%;
}
#logoHolder::before{
  content: '\25CF';
      font-size: 21vh;
background-color: transparent;
position: absolute;
margin-left: -2.18vh;
margin-top: -9.15vh;
color: #000000;
z-index: -1;
}
ul.topnav.transparent{
  background-color:rgba(0,0,0,0) !important;
  box-shadow: 0 0 0 0;
}
ul.topnav.active{
  background-color:rgba(0,0,0,0) !important;
  box-shadow: 0 0 0 0;
}
#logoHolder{
  float: left;
  padding: unset;
  margin-left: 2.2vh;
margin-top:0.8vh;
margin-bottom: 0.8vh;
  opacity: 1;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
}
#logo{
width: 16.625em;
}
#logo a:hover{
  background-color: transparent;
}

/* beginning of sideNav*/
#menuoverlay{
  right: 0;
  z-index: 10000;
  width: 50vh;
  transform: translateX(50vh);
  opacity: 1;
  text-align: left;
  position: fixed;
  top: 0;
  height: 100%;
  pointer-events: auto;
  background-color: #f2f2f2;
  text-decoration: none;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
  /* box-shadow: inset 10px 0px 10px 0px #000; */
}
#menuoverlay.active{
  transform: translateX(0vh);
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
}
@media screen and (max-width: 650px){
  #menuoverlay.active{ width: 75vw;}
  #sitemenu-icon{ width: 3.5em !important; right: 0% !important;}
  #sitemenu-icon.active{ right: 80vw !important;}
  #bioGARRAGE-logo img{  width: 90% !important;}
  #logoHolder.active{ opacity: 0 !important;}
  #bioGARRAGE-logo a{ transition-duration: 0.5s;}
}
#overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    opacity: 0;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.5);
    z-index: -1;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s;
}
#overlay.active{
  opacity: 1;
  z-index: 2;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.blurContainer{
  width: auto;
  height: auto;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.blurContainer.active{
  filter: blur(3px);
-webkit-filter: blur(3px);
-moz-filter: blur(3px);
-o-filter: blur(3px);
-ms-filter: blur(3px);
-o-transition: all 1s;
-webkit-transition: all 1s;
transition: all 1s;
}
#mainmenu{
  position: relative;
  width: 90%;
  right:0;
  left: 5%;
  top:0px;
  color: black;
  list-style: none;
}
#bioGARRAGE-logo a{
  position: absolute;
  bottom: 5%;
  width: 100%;
  text-align: center;
  z-index: 100000;
}
#bioGARRAGE-logo img{
  width: 75%;
}
/* --- end of sideNav --- */
/* --- Beginning of navbar for mobile --- */
ul.topnav li.dropdown{
  visibility: hidden;
  display: none;
  overflow: hidden;
}
#sitemenu-icon{
  position: absolute;
  top: 50%;
  right: 0em;
  transform: translate(-50%, -50%);
  width: 5%;
  height: 75%;
  cursor: pointer;
  background: transparent;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
  z-index: 3;
}
#sitemenu{
  width: 6vh;
  height: 10%;
  background: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 5px rgba(0,0,0,.2);
  transition: 0.5s;
}
#sitemenu:before, #sitemenu:after{
  content:'';
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  position: absolute;
  box-shadow: 0 2px 5px rgba(0,0,0,.2);
  transition: 0.5s;
}
#sitemenu:before{
  top: -250%;
}
#sitemenu:after{
  top: 250%;
}
#sitemenu-icon.active{
  right: 50vh;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
}
#sitemenu-icon.active #sitemenu{
  background: rgba(0,0,0,0);
  box-shadow: 0 2px 5px rgba(0,0,0,0);
}
#sitemenu-icon.active #sitemenu:before{
  top: 0;
transform: rotate(45deg);
}
#sitemenu-icon.active #sitemenu:after{
  top: 0;
transform: rotate(135deg);
}
.sideNavMenuItems{
  display: block;
  padding: 3% 3%;
  background-color: transparent;
  color: black;
  text-decoration: none;
  font-weight: 400;
  text-transform: uppercase;
  font-family: sans-serif;
      letter-spacing: 0.3vw;
      font-size: 2.5vh;
}
.sideNavMenuItems:hover, .selectedPage{
  background-color: #2d2d2c;
  color: white;
}
#iconsAdded a::before{
  padding-right: 10px;
font-family: "FontAwesome";
}
#menu-link-1::before {
    content: "\f015";
}
#menu-link-2::before {
    content: "\f2b9";
}
#menu-link-3::before {
    content: "\f0e0";
}
#menu-link-4::before {
    content: "\f0c0";
}
#menu-link-5::before {
    content: "\f187";
}
/* --- End of navbar for mobile --- */
/* --- End of navbar --- */


/* --- Beginning of blurred background --- */
 #mainBackground{
   background: linear-gradient(to top, rgba(0,0,0,0), rgba(255,255,255,0.3) ), url(../images/img_mountains.jpg) no-repeat center center fixed;
  padding: 15vh;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
 position: relative; background-attachment: fixed;
 overflow: hidden;
 }
 #mainBackground > header {
   bottom: 0;
   left: 0;
   width: 100%;
   padding: 20px 10px;
   background: inherit;
   background-attachment: fixed;
   overflow: hidden;
 }
#mainBackground > header::before {
 content: "";
 position: absolute;
 top: -20px;
 left: 0;
 width: 200%;
 height: 200%;
 background: inherit;
 background-attachment: fixed;
 -webkit-filter: blur(4px);
 filter: blur(4px);
}
#mainBackground > header::after {
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background: rgba(0, 0, 0, 0.25)
}
#mainBackground > header > p {
  margin: 0;
  color: white;
  position: relative;
  z-index: 1;
}
#contact-title {
    font-size: 8vh;
    z-index: 4;
    letter-spacing: 2px;
    color: #444444;
    text-align: center;
}
@media screen and (max-width: 600px){
#mainBackground{ padding-left: 0 !important; padding-right: 0 !important;}
#contact-title{ font-size: 5vh; }
}
/* --- end of blurred background --- */

/* --- scroll to topbutton --- */
#scroll {
  position: fixed;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
  width: 50px;
  opacity: 0.5;
  z-index: 10;
  height: 50px;
  background-color: #000000;
  text-indent: -9999px;
  display: none;
  transition-duration: 0.25s;
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff;
}
#scroll:hover {
    background-color:#03A9F4;
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
    transition-duration: 0.25s;
}

/* --- beginning about content section --- */
#about{
    padding-bottom: 5vh;
  background-color: white;
  font-size: 2.2vh;
      padding-top: 6vh;
  font-family: arial;
  line-height: 200%;
  background: #f2f2f2;
  /* background: linear-gradient(217deg, rgba(255,255,0,.8), rgba(255,255,0,0) 50.71%),
            linear-gradient(127deg, rgba(0,255,255,.8), rgba(0,255,255,0) 40.71%),
            linear-gradient(336deg, rgba(255,0,255,.8), rgba(255,0,255,0) 55.71%);
*/
}

/* --- beginning of seperator photo --- */
.trans{
  background-color: black;
}
.transPhoto{
  padding: 20vh;
  background-image: url("../images/img_mountains.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  z-index: 1;
  opacity: 0.5;
  background-position: center;
}
@media only screen and (max-device-width: 900px) {
    .transPhoto {
        background-attachment: scroll;
        background-position: center;
    }
  }
  /* --- end of seperator photo --- */
#aboutContent{
  text-align: center;
  height: fit-content;
  padding-bottom: 6vh;
  margin-left: 25vh;
  margin-right: 25vh;
}
#opening{
  text-align: center;
  z-index: 10;
}
#aboutContent h1{
  text-align: center;
  text-indent: 0px;
}
#about h2{
  -webkit-margin-before: 0;
padding-top: 0.83em;
}
.row {
    font-family: arial, sans-serif;
    width: 100%;
    display: inline-flex;
    text-align: center;
    padding-bottom: 5vh;
    padding-top: 5vh;
}
.column {
    text-align: left;
    width: inherit;
    overflow: hidden;
    height: 60vh;
    background-color: #f2f2f2;
}
.accordionSection{
  text-align: left;
  background: #EEE;
  height: fit-content;
}
#questionsContent img{
  overflow: hidden;
  display: block;
  margin-left: auto;
  margin-right: auto;
  opacity: 1;
  height: 60vh;
  width: 70vh;
}
#questionsContent h2{
  text-align: center;
}
#questionsContent p{
      font-size: 2vh;
  text-indent: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 1em;
  line-height: 200%;
}
@media screen and (max-width: 900px){
.row{
  display: block;
}
.column {
    height: inherit;
}
#questionsContent img{
  height: auto;
  width: -webkit-fill-available;
  max-width: 75%;
}
#expandable{
  width: 90% !important;
  height: fit-content !important;
padding-bottom: 5vh !important;
}
#aboutContent {
    margin-left: 5vh;
    margin-right: 5vh;
}
}

/* --- expand/retract about section --- */
#expandable{
  background: #f2f2f2;
  width: 60vh;
  margin: 0px auto;
  padding: 0px 0;
  height: -webkit-fill-available;
}
#expandable h2, h3 {
  text-align: center;
}
/* --- end of expand/retract about section css --- */

/* --- accordion css --- */
button.accordion {
    background-color: #f2f2f2;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 2vh;
    transition: 0.4s;
}
button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}
button.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
button.accordion.active:after {
    content: "\2212";
}
div.panel {
    padding: 0 18px;
    background-color: #f2f2f2;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
/* --- end of accordion css --- */


.StayInTouch{
  text-align: center;
  padding-top: 5vh;
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

.contactButtonContent{
  font-size: 2.5vh;
  color: black;
  border: 2px solid black;
  background-color: transparent;
  letter-spacing: 0.3vh;
  font-family: AkkuratPro-Regular,sans-serif;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  width: unset;
}
.contactButtonContent:hover{
  background-color: black;
  color: white;
  transform: scale(1.1,1.1);
  transition-duration: 0.4s;
}
/* --- end of about section --- */


/* --- beginning of footer --- */
.footer{
  background-color: #2d2d2c ;
  margin: 0;
  color: #6c6c6c;
  font-size: 1.5vh;
  padding-top: 5%;
  padding-bottom: 2%;
}
#bioGARAGE-section .fa{
  text-align: center;
  font-size: 2.5vh;
  padding: 0.5vh 0.6vh;
}
.footerContent{
  text-align: center;
  overflow: auto;
  line-height: 200%;
}
#UOttawa-section{
  width: 50%;
  float: left;
}
#bioGARAGE-section{
  float: right;
  width: 35%;
  text-align: center;
  padding-right: 7vh;
}
#UO-logo{
  float: left;
  padding-left: 7vh;
}
#UO-logo img{
  height: 14vh;
}
#faculyAndRelated{
  float: left;
  width: 40%;
  text-align: left;
  margin-left: 20px;
}
#faculyAndRelated a{
  text-decoration: none;
    color: #6c6c6c;
  cursor: pointer;
}
#faculyAndRelated p{
  display: unset;
}
#faculyAndRelated a:hover{
  color: white;
  transition-duration: 0.4s;
  cursor: pointer;
}
.fa-facebook:hover{color: #4e64b5; }
.fa-linkedin:hover{color: #0288d1; }
.fa-twitter:hover{color: #00aced; }
.fa-instagram:hover{color: #9a8f62; }
.fa-pinterest:hover{color: #ff5757; }
.fa-youtube-play:hover{color: #c82929; }
.fa-github:hover{color: #4a2881; }

@media screen and (max-width: 630px){
  .footerContent{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: fit-content;
  }
  .footer{
    height: auto;
  }
  #UO-logo{
    padding-left: 0;
    float: none;
  }
  #bioGARAGE-section{
    float: none;
    text-align: center;
    padding-right: 0;
    padding-left: 0px;
    width: 100%;
  }
  #faculyAndRelated{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0;
    text-align: center;
  }
  #UOttawa-section{  width: 100%; }
  }
  .fa{
    color: #6c6c6c;
  }
.fa:hover{
  transform: scale(1.1,1.1);
  transition-duration: 0.4s;
}
.legal, .terms{
  text-decoration: none;
  color: #6c6c6c;
}
.legal:hover, .terms:hover{
  color: white;
  transform: scale(1.1,1.1);
  transition-duration: 0.4s;
}
/* --- end of footer --- */
/* --- end of webpage --- */
