/* the body influences everything that doesn't have a class or id*/
body {
  background-color: white;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Verdana;
}

/*Beginning of navbar */
ul.topnav {
  background-color:rgba(255,255,255,0.75);
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  box-shadow: 0 2px 4px 0;
  z-index: 2;
}
ul.topnav img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#logoHolder{
  float: left;
  padding: unset;
  margin-left: 4px;
  margin-top: 4px;
  margin-bottom: 4px;
}
#logo a:hover{
  transform: scale(1,1);
}

@media screen and (max-width: 900px){
  #logo{
    width: 227px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: none;
  }
  #logo a{
    float: none;
    position: relative;
    display: block;
    text-align: center;
    cursor: pointer;
  }
}

ul.topnav li a{
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 1.0625em;
  z-index: 1;
}
ul.topnav li.right {
  float: right;
}
.topnav a:hover {
  background-color: transparent;
  color: Gold;
  transform: scale(1.2,1.2);
  transition-duration: 0.3s;

}
.topnav a.active {
  background-color: White;
  color: Gold;
}


/* beginning of sideNav*/
#menuoverlay{
  left: 0;
  z-index: 10000;
  opacity: 1;
  text-align: left;
  transition-delay: initial;
  transition-timing-function: cubic-bezier(0.06, 0.24, 0.44, 1);
  transition-duration: 200ms;
  transition-property: all;
}
#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 280;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.9);
    z-index: 2;
    cursor: pointer;
}
#bioGARRAGE-logo a{
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  z-index: 100000;
}
#bioGARRAGE-logo a:hover{
  transform: scale(1.1,1.1);
  transition-duration: 0.3s;
}
#sideNavExit p{
  color: #777777;
  width: 25px;
  font-size: 25px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: 20px;
  margin-top: 20px;
}
#sideNavExit p:hover{
  cursor: pointer;
  color: white;
  transform: scale(1.2,1.2);
  transition-duration: 0.3s;
}
@media screen and (max-width: 900px){
  #menuoverlay{
    position: fixed;
    top: 0;
    width: 280px;
    height: 100%;
    pointer-events: auto;
    background-color: #2f2f2f;;
    text-decoration: none;
    /*#2f2f2f; #ffe0e0*/
  }
  #mainmenu{
    position: relative;
    width: 85%;
    right:0;
    left: 20px;
    top:40px;
    color: white;
    list-style: none;
  }
}
.showSideNav{
  display: block;
  transition-delay: initial;
  transition-timing-function: cubic-bezier(0.06, 0.24, 0.44, 1);
  transition-duration: 200ms;
  transition-property: all;
}
.hideSideNav{
  display: none;
  transition-delay: initial;
  transition-timing-function: cubic-bezier(0.06, 0.24, 0.44, 1);
  transition-duration: 200ms;
  transition-property: all;
}
/* end of sideNav */


/* Beginning of navbar for mobile */
ul.topnav li.dropdown{
  visibility: hidden;
  display: none;
  overflow: hidden;
}
#sitemenu-icon{
  display: none;
  cursor: pointer;
  width: 25px;
  height: 15px;
  background-color: transparent;
  position: fixed;
  top: 24px;
  left: 17px;
  z-index: 10000;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
#sitemenu-icon span{
  height: 3px;
  background-color: black;
  position: absolute;
}
#sitemenu-icon span.line1{
  top: 0px;
  width: 25px;
}
#sitemenu-icon span.line2{
  top: 7px;
  width: 25px;
}
#sitemenu-icon span.line3{
  top: 14px;
  width: 25px;
}
@media screen and (max-width: 420px){
  #sitemenu-icon{
    left: 5px;
  }
}
@media screen and (max-width: 900px){
  #sitemenu-icon{
    display: flex;
  }
  ul.topnav li.right{
    visibility: hidden;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: none;
  }
  ul.topnav{
    height: auto;
    text-align: center;
    position: fixed;
  }
  #mainmenu li.dropdown{
    visibility: visible;
    display: inline-block;
    background-color: transparent;
  }
  #mainmenu li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: left;
    text-decoration: none;
    float: none;
  }
  #mainmenu li a:hover, .dropdown:hover .dropbtn {
    color: gold;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }
  #mainmenu li.dropdown { display: inline-block; }

  #mainmenu .dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 160px;
    position: fixed;
  }
  #mainmenu .dropdown-content a {
    color: white;
    padding: 6px 12px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  #mainmenu .dropdown-content a:hover, #mainmenu .dropdown-content a:active {
    background-color: transparent;
    color: #777777;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }
  #mainmenu .dropdown:hover .dropdown-content, #mainmenu .dropdown:active .dropdown-content{
    display: block;
    transition-delay: initial;
    transition-timing-function: cubic-bezier(0.06, 0.24, 0.44, 1);
    transition-duration: 200ms;
    transition-property: all;
  }
}
/*End of navbar for mobile */
/*End of navbar*/

/* --- keyframes --- */
@keyframes back-pulse {
  0%   {background-color: transparent;}
  25%  {background: black;}
  50%  {background: white;}
  75%  {background: black;}
  100% {background-color: transparent;}
}
.back-pulse{
  animation-name: back-pulse;
  animation-duration: 3s;
}
figure:nth-child(1) { background-image: url("../images/garageMech.png"); }

figure:nth-child(2) {
  background-image: url("../images/jellyfish.jpg");
}
figure:nth-child(3) {
  background-image: url("../images/microscope.jpg");
}

/* begining of front page */
/* ---- particles front page section---- */
canvas {
  display: block;
  vertical-align: bottom;
} /* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #b61924;
  background-image: url("http://i.dailymail.co.uk/i/pix/2015/10/13/09/2D55A60A00000578-0-image-a-2_1444725976530.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

figure{
/*  background-image: url("http://i.dailymail.co.uk/i/pix/2015/10/13/09/2D55A60A00000578-0-image-a-2_1444725976530.jpg"); */
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  padding-bottom: 400px;
  padding-top: 400px;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0 0 !important;
}
#lightButtonsContent{
  width: min-content;
  margin-top: 10%;
  position: absolute;
}
.lightChanger{
  padding: 20px 20px;
  background-color: red;
  cursor: pointer;
  border-radius: 30px;
  border-color: black;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 30px;
  box-shadow: 0 9px #999;
}
.lightChanger:hover{
  background-color: #962a2a;
}
.lightChanger:active{
  background-color: #962a2a;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
@media screen and (max-width: 1200px){
  .openingButtons{ padding-top: 40px; }
}
.opening{
  padding: 20px;
  background-color: black;
  opacity: 0.85;
  bottom: 0;
  position: relative;
  padding-bottom: 30px;
}
.openingContent{
  background-color: inherit;
  color: white;
  list-style: none;
  letter-spacing: 2px;
  font-size: 20px;
  line-height: 200%;
  width: fit-content;
  margin: auto;
}
.open1{ }
.open2{
  padding-left: 30px;
}
.open3{
  padding-left: 60px;
}
.open4{
  padding-left: 90px;
}
.openingButtons{
text-align: center;
word-spacing: 50px;
}
.openBtn1{
  font-size: 18px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
  background-color: transparent;
  letter-spacing: .375em;
  font-family: AkkuratPro-Regular,sans-serif;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  width: 230px;
}
.openBtn2{
  font-size: 18px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
  background-color: transparent;
  letter-spacing: .375em;
  font-family: AkkuratPro-Regular,sans-serif;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  width: 230px;
}
.openBtn1:hover{
  color: black;
  background-color: white;
  transform: scale(1.2,1.2);
  transition-duration: 0.3s;
 }
.openBtn2:hover{
  color: black;
  background-color: white;
  transform: scale(1.2,1.2);
  transition-duration: 0.3s;
   }

@media screen and (max-width: 700px){
  .openingContent{
    font-size: 16px;
    letter-spacing: 1.5;
    text-align: center;
  }
  .open2{
    padding-left: 0px;
  }
  .open3{
    padding-left: 0px;
  }
  .open4{
    padding-left: 0px;
  }
}
/* ending of front page */



/* beginning of seperator photo */
.transPhoto{
  padding: 125px;
  background-image: url("../images/garageMech.png");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  z-index: 1;
  opacity: 0.5;
  background-position: center;
}
@media only screen and (max-device-width: 900px) {
    .transPhoto {
        background-attachment: scroll;
        background-position: center;
    }
    figure{
      background: url("http://i.dailymail.co.uk/i/pix/2015/10/13/09/2D55A60A00000578-0-image-a-2_1444725976530.jpg") no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      height: 100%;
      overflow: hidden;
    }
}
/* end of seperator photo */



/* beginning about section */
#about{
  padding-bottom: 200px;
  padding-top: 20px;
  background: linear-gradient(217deg, rgba(255,255,0,.8), rgba(255,255,0,0) 50.71%),
            linear-gradient(127deg, rgba(0,255,255,.8), rgba(0,255,255,0) 40.71%),
            linear-gradient(336deg, rgba(255,0,255,.8), rgba(255,0,255,0) 55.71%);
}
#aboutContent{
  text-align: center;
  margin: 20px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}
#questionsContent img{

  overflow: hidden;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#questionsContent h2{
  text-align: center;
}
#questionsContent p{
  text-indent: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.moreButton{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.moreButtonContent{
  display: inline-block;
  font-size: 14px;
  border: 2px solid black;
  background-color: transparent;
  letter-spacing: .175em;
  font-family: AkkuratPro-Regular,sans-serif;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  width: unset;
}
.moreButtonContent:hover{
  background-color: black;
  color: white;
  transform: scale(1.1,1.1);
  transition-duration: 0.3s;
}
.lessButtonContent{
  display: none;
  font-size: 14px;
  border: 2px solid black;
  background-color: transparent;
  letter-spacing: .175em;
  font-family: AkkuratPro-Regular,sans-serif;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  width: unset;
}
.lessButtonContent:hover{
  background-color: black;
  color: white;
  transform: scale(1.1,1.1);
  transition-duration: 0.3s;
}
.show{
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-delay: 0.4s;
  transition-timing-function: cubic-bezier(0.06, 0.24, 0.44, 1);
  height: 400px;
}
.hide{
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-delay: 0.4s;
  transition-timing-function: cubic-bezier(0.06, 0.24, 0.44, 1);
  height: 200px;
}
td {
    border: 1px solid transparent;
    text-align: left;
    padding: 8px;
    overflow-y: scroll;
}
.StayInTouch{
  text-align: center;
}
.StayInTouch p{
  text-indent: unset;
}
.contactButtonContent{
  font-size: 18px;
  color: black;
  border: 2px solid black;
  background-color: transparent;
  letter-spacing: .375em;
  font-family: AkkuratPro-Regular,sans-serif;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  width: unset;
}
.contactButtonContent:hover{
  background-color: black;
  color: white;
  transform: scale(1.2,1.2);
  transition-duration: 0.3s;
}
/* ending about section */




/* beginning of footer */
.footer{
  background-color: #000;
  margin: 0;
  color: #777777;
  font-size: 17px;
}
.lin{
  text-align: center;
  color: #777777;
  font-size: 25px;
}
.footerContent{
  text-align: center;
  overflow: auto;
  line-height: 200%;
}
.lin:hover{
  color: white;
  transform: scale(1.2,1.2);
  transition-duration: 0.3s;
}
.privacy, .terms{
  text-decoration: none;
  color: #777777;
}
.privacy:hover, .terms:hover{
  color: white;
  transform: scale(1.2,1.2);
  transition-duration: 0.3s;
}
/* end of footer */
